[2015-09-25 15:17] cmccoy opened #491 "silo benchmark fails behind proxy"
From @mateusz-blaszkowski in #475:

We should switch it to `https://`.

[2015-09-28 03:49] guyonggang opened #493 "why I use command to get benchmark "/pkb.py --cloud=AWS --benchmarks=sysbench_oltp,fio,netperf --zone=cn-north-1 --machine_type=t2.micro",It error for "--region=cn-north-",miss "-1""
error message:
./pkb.py --cloud=AWS --benchmarks=sysbench_oltp,fio,netperf --zone=cn-north-1 --machine_type=t2.micro

____________________
I think becourse of region  error ,so "Command returned a non-zero exit code."
why it will auto cut "-1"
____________________
015-09-28 11:46:39,767 a035497c MainThread INFO     Verbose logging to: /var/folders/gz/pkkbzf414f9bwpqrlx_z60rr0000gp/T/perfkitbenchma

[2015-09-28 14:08] srinivaslpalli opened #494 "Is there a way to redirect console output to some file for ./pkb.py"
Hi,
Is there a way to redirect console output  to some file for ./pkb.py, am looking for some command line option to redirect output to specified file.

I know its writing into "/tmp/perfkitbenchmarker/<runid>/pkb.log. But apart from that I would want to redirect the console output to specified file, do we have any option for that in our perfkit benchmarking?

 Thanks
-Srinivas

[2015-09-28 14:18] cmccoy commented on #494
You should be able to use built-ins from your shell if you don't want the output printed:

[code]

Or using [`tee`](https://en.wikipedia.org/wiki/Tee_(command)):

[code]

[2015-09-28 14:20] cmccoy commented on #493
Hi -

PerfKitBenchmarker requires an availability zone to be passed to the `--zone` flag, rather than just a region.
Could you try with a full availability zone specified (e.g. `cn-north-1a`)?

[2015-09-28 14:45] srinivaslpalli commented on #494
Yes, I tried in that way and hitting the issue, Its hanging at below step, if we run without redirection its working fine...only hanging if we use redirection

[root@scan01cn26 PerfKitBenchmarker-0.17.0]# /usr/local/bin/python ./pkb.py --static_vm_file=VM1_xvdc.json --os_type=rhel --benchmarks=fio --against_device=True --ip_addresses=EXTERNAL > VM1_4VMtest_iteration1.out 2>&1&
[1] 14968
[root@scan

[2015-09-28 16:49] cmccoy commented on #494
Is there anything interesting in `VM1_4VMtest_iteration1.out`?

[2015-09-28 17:08] cmccoy commented on #494
Never mind, we were able to reproduce this.
Could you try redirecting stdin from `/dev/null`, e.g.:

[code]

That fixes it for me.

[2015-09-29 11:34] mateusz-blaszkowski opened #496 "Fio: when no jobfile is specified, fio is not running against scratch disk"
Let's say that scratch disk is by default mounted in /scratch0 directory.

Current simplified fio benchmark flow:
1. Fill scratch disk with 'fio-temp-file' - look at the `GenerateFillCommand()` method. It uses `fill_path` which is retrieved directly from disk object (either `mount_point` or by `GetDevicePath()` method). As a result, the following file is created: /**scratch0**/fio-temp-file . This

[2015-09-29 11:43] mateusz-blaszkowski opened #497 "Fio: pre-filling the attached disk does not work"
Look at the fio_benchmark.Prepare() method:

`fill_size = str(DISK_USABLE_SPACE_FRACTION *
                        1000 * disk.disk_size) + 'M'`

Let's say that `disk.disk_size` is 3 and `DISK_USABLE_SPACE_FRACTION` is 0.9.
`fill_size` will be exactly `2700.0M`. This format is not accepted by fio and as a result, pre-filling the scratch volume will not work. What is worse, fio command will fail wi

[2015-09-29 14:07] milkotodorov opened #498 "SuSE Support"
Hello, is there any SuSE support ongoing or planned?

[2015-09-29 14:47] cmccoy commented on #498
Not presently, but it would be welcomed.

[2015-09-29 16:15] srinivaslpalli opened #499 "GooglePerfKitBenchmarker :FIO hangs in " in __lll_lock_wait () from /lib64/libpthread.so.0""
I am trying to run FIO from a PerfKitBenchmarker-0.17.0 installed system simultaneously on multiple VMs
(>16VMs) using different json files (having different VM IP addresses) and see FIO hangs on some of the VMs.

I have included below stack details from both the perfkit client from where I am running pkb.py and on the VM stack
from one of the hung FIO runs.. similar stack seen on all hung FIO run

[2015-09-29 16:55] yuyantingzero commented on #496
@stfeng

[2015-09-29 16:55] yuyantingzero commented on #497
@stfeng

[2015-09-29 17:19] stfeng commented on #497
I think we should get rid of the DISK_USABLE_SPACE_FRACTION parameter, it's pretty flaky (and setting it to 90% is also just a rough estimate that don't really work for all file systems).

If someone really wants to test against the file system (which isn't that encouraged for fio command anyway), and if they want to pre-warm the device before the testing, then the implementation here in FIO shoul

[2015-09-29 17:32] yuyantingzero commented on #499
Hi @srinivaslpalli , could you provide some details on your guest vm (how much memory, disk size, kernel version)? Also, how often does this occur?

[2015-09-29 17:44] yuyantingzero commented on #499
I noticed you are using against_device=True but also using static vms, which might be the problem. Since static vms doesn't support device path: https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/341. Could you provide a sample static vm file you are using and the fio.job file on your guest vm (fio benchmark will modify job file if against_device flag is used)?

[2015-09-29 18:12] rmathara commented on #499
Hi , answering on behalf of my colleague srinivas,

- Yes, we are aware of that issue #341, fio_benchmark.py is hardcoded to use raw device and it works fine if we run the test individually one at a time on these VMs (identical config, uek3 kernel,
4 core,30GB) only when we run FIO on these VMs simultaneously, at random FIO hangs on different VMs with above stack. Say we run on 20 VMs in parallel,

[2015-09-29 18:27] noahl commented on #496
I'm testing a fix right now. PR should be coming soon.

[2015-09-29 18:38] yuyantingzero commented on #499
@rmathara , what do you mean by simultaneously? I do not think fio benchmark involves any communications between vms, it should make no difference, could you provide exact command you use to run simultaneously? Basically, I wonder if you are using some shell script to start multiple pkb runs or you are using parallelism flag?

Also, I noticed https://github.com/GoogleCloudPlatform/PerfKitBenchmark

[2015-09-29 19:00] rmathara commented on #499
@srinivaslpalli provided that earlier ..

Here it is - We run below cmd on 24 different terminals using 24 different json files (which point to respective VM ip address) .. below example is for VM17. No shell scripts involved.. just executing on all 24 terminals below cmd with a different static_vm_file
..
# /usr/local/bin/python ./pkb.py --static_vm_file=VM17_xvdc.json --os_type=rhel --benchmarks

[2015-09-29 19:26] noahl commented on #497
Hi Mateusz,

This issue is already fixed in the latest fio_benchmark.py in the master
branch. It looks like the fix was committed 13 days ago, so it may not have
made it into the last release, but it will be in the next one.

Thanks,
Noah

On Tue, Sep 29, 2015 at 10:19 AM, stfeng <notifications@github.com> wrote:

[2015-09-29 19:34] syed opened #503 "Adding Cloudstack as a provider"
Hi,

I'm working on adding Cloudstack as a providor to PerfKitBenchmarker. Is someone already working on it? I'm opening this to track my changes.

-Syed

[2015-09-29 19:36] noahl commented on #497
If you want a fix right away, what you suggested with `int( ... )` is exactly what I implemented. You can patch your copy of fio_benchmark.py with that change, or cherry-pick commit 84dfd924fb6a4cd51485e8ae615527b9beb06a39 . I'm closing the issue, but please re-open if there's anything else I can do to help.

[2015-09-29 19:42] stfeng commented on #497
I think to properly fix this issue, we should get rid off the DISK_USABLE_SPACE_FRACTION and merge the fill the file code with fill the device code.

[2015-09-29 20:11] yuyantingzero commented on #499
They are using v0.17.0 version of PKB, which has nothing to do with noahl's recent refactoring. Probabily related to https://github.com/axboe/fio/issues/52. I am still investigating.

[2015-09-29 23:33] yuyantingzero commented on #499
Hi @rmathara , I took a close look at the logs you send me, everything looks fine. It is very likely caused by fio binary itself.

I haven't been able to repro the problem you are seeing. One thing you could try is run the fio command manually with --debug=all,
Basically try, sudo /tmp/pkb/fio/fio --debug=all --filename=/dev/xvdc fio.job > debug.
To make sure this is a problem in fio, would you mi

[2015-09-30 06:26] mateusz-blaszkowski commented on #497
@noahl - I have tested with a pretty fresh master version. PR with the fix was merged 2 days ago, so I was unlucky ;) anyway, thanks!

[2015-09-30 08:14] milkotodorov commented on #498
Then I'll be working on it. Any docs/guides that can be of help?
Thanks!

[2015-09-30 16:30] stfeng commented on #499
@rmathara, I just noticed that the version of PKB you are using is 0.17.0. It might be worthwhile to upgrade it to the latest version 0.21.0 and see what happens. There used to be a bug in FIO benchmark where in directly-against-device mode, we didn't umount the file system first before we start the test. This has been fixed with recent releases.

[2015-09-30 16:59] rmathara commented on #499
@yuyantingzero, Thanks for your time and taking a look,  The issue I have in running  fio on the VM is it gets removed per below pkb.log :

2015-09-27 21:06:35,989 156bdfa6 MainThread fio(1/1) INFO     Running: ssh -A -p 22 opc@10.252.136.129 -2 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o PreferredAuthentications=publickey -o PasswordAuthentication=no -o Co

[2015-09-30 17:09] stfeng commented on #499
@rmathara

If we are testing (RW) directly against raw device, then that device should not be in-use by the file system at the same time. If so, file system metadata/inodes/master block, etc would soon be corrupted by fio writes, and then depending on the OS, the file system would start panicking and possibly hang. Even if the FS does not hang, it's highly likely it might attempt to "repair" the b

[2015-09-30 17:26] lleszczu commented on #491
Adding something like:
```git config --global url.https://github.com/.insteadOf git://github.com/```
in packages/build_tools.py ( or maybe directly in silo benchmark ) should fix the issue.

[2015-09-30 17:32] yuyantingzero commented on #499
@rmathara Thanks for the detailed response. Adding --debug flag into pkb will break the result parsing, there is no easy way to do this. Sorry about that.

But to run manually, you can do the following:
./pkb.py --static_vm_file=VM17_xvdc.json --os_type=rhel --benchmarks=fio --against_device=True --ip_addresses=EXTERNAL --run_stage=prepare
The above step will install fio and dependency you need an

[2015-10-01 15:35] rmathara commented on #499
Hi:

our internal IPs are all unique.
Here is the update I get from FIO repository for my issue and is closed now..
..
This is a duplicate of issue #52, as you suspected. They need to update their fio version, or pull that fix into their base.
..
any next steps, suggestions for me ?

Thanks

[2015-10-01 16:42] yuyantingzero opened #504 "Update fio package"
Currently PerfKitBenchmarker is using v2.1.14 fio, which occasionally hangs as reported in https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/499 due to deadlock in fio. We need to update fio version to include the fix.

[2015-10-01 16:47] yuyantingzero commented on #499
Opened a new issue #504 to update fio package. I will come up with a pull request today and let you know when it is merged.
Closing this issue for now. Feel free to reopen if you have more question/concerns.

[2015-10-01 16:47] #499 closed

[2015-10-01 16:52] voellm commented on #482
Update on this release... there have been a number of changes around fio and some are still in progressed.  I'd rather wait for these to be resolved before completing this.  Likely I'll roll up the release Friday and release Monday (10/5)

[2015-10-01 16:56] voellm commented on #503
Syed - This would be great.  No one is working on this so it is all yours.  We do have OpenStack support so likely yours will be similar for CloudStack.

For those that dont know the difference here is a good explanation - http://www.datacenterknowledge.com/archives/2015/02/23/openstack-vs-cloudstack-the-platforms-and-the-cloud-apis/

  Tony

[2015-10-01 16:56] voellm commented on #503
Assigning to me to handle the pull request when it comes.  Cheers...

[2015-10-01 16:57] voellm commented on #494
Srinivas - Is this working for you?

[2015-10-01 16:58] voellm commented on #493
@guyonggang Is this working for you now?

[2015-10-01 16:58] voellm commented on #484
Eric / Connor - Any takers for doing the update?

[2015-10-01 16:59] voellm commented on #481
We should consider this when we add a "--optimized" run mode.  For the default we should not change interrupt targeting.

[2015-10-01 17:00] voellm commented on #478
@ehankland
@noahl

Not as of yet.  You could implement it pretty quickly by dupping the Windows ntttcp benchmark and going from there.

I think however Noah has this on his list of things to do.

[2015-10-01 17:11] cmccoy commented on #484
I'll update the message.

[2015-10-01 17:52] #484 closed

[2015-10-01 18:08] #406 closed

[2015-10-01 18:08] voellm opened #507 "Planning for PerfKitBenchmarker community meeting #6"
PKBers,

it's been a couple of weeks since the last community meeting and we've already had a number of new big changes.  The first EPFL Cloud Suite benchmark is in, Kubernetes has been added as a provider, and storage (block/object/file) benchmarks have seen lots of improvements.  We also have the Configuration refactor underway.

So the question is when should we have the next meeting and what t

[2015-10-01 18:16] voellm commented on #406
FYI ... there is a new flag added to make an instance pre-emptible.

Use "--gce_preemptible_vms --machine_type=n1-standard-1" for example to get
a preemptible n1-standard-1

Even more details...
flags.DEFINE_boolean('gce_preemptible_vms', False, 'If true, use
preemptible '52
<https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/20b29071f57322ff59d9a9e6ae01f4ad82f5b84a/perfkitbenchmarker/

[2015-10-02 07:26] mateusz-blaszkowski opened #508 "Apt-get update should not be run if install_packages is set to False"
`apt-get update` is run independently of the flag --install_packages, however it is useless (and unnecessary extends benchmarks execution time) when the flag is set to False.

[2015-10-02 18:31] #496 closed

[2015-10-02 18:32] noahl commented on #497
Fixed in #502.

[2015-10-02 18:32] #497 closed

[2015-10-02 18:32] noahl commented on #496
Fixed in #502.

[2015-10-05 11:08] kivio commented on #460
Merged!

[2015-10-05 11:09] kivio commented on #465
Merged!

[2015-10-05 11:09] #465 closed

[2015-10-05 11:10] kivio commented on #460
Sorry, not here :(

[2015-10-05 17:04] yuyantingzero commented on #504
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/509#issuecomment-145594985

[2015-10-05 17:04] #504 closed

[2015-10-06 18:42] ehankland opened #512 "Write configs for benchmarks"
As soon as the configs refactor is in, we need to write reasonable configs for all of the benchmarks (especially the client/server ones where the clients dont need disks, but the servers do).

At some point we should also discuss changing the defaults on a per benchmark basis - for example using disks that have the same number of advertised IOPS rather than just using 500 GB disks.

[2015-10-06 21:14] voellm opened #513 "Request for LOGO suggestions"
We are getting close the V1.0.0.  Some of the finishing changes are making there way in now so its time to think about a logo.

Some properties we should look for:
- Scales in size well
- Works in B&W and Color
- Is fun
- Should not be encumbered by or violate trademarks.

If you have ideas... please email them to voellm@google.com or perfkitconnect@googlegroups.com

[2015-10-06 23:14] voellm commented on #482
This release is making progress.  I pulled in a few this from early this morning.

So far all tests are looking good.  Should have this released tomorrow.

[2015-10-07 12:04] #460 closed

[2015-10-07 13:42] syed opened #514 "KVM as a provider"
While working on the Cloudstack provider, I was wondering if it is possible to add KVM as a provider. It could be used for local dev/test and integration testing. What do you guys think?

[2015-10-07 19:51] voellm commented on #482
All runs are complete.  There is one issue which is the fio defaults where changed causing the runs to go from ~1000 seconds to ~7000.  We've talked about this change and for this release it will be rolled back.

https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/515

One that is in I'll cherrypick it into the release and commit today.

[2015-10-07 20:35] voellm commented on #514
Most definitely possible.  Just need someone to take it on.

On Wed, Oct 7, 2015 at 6:42 AM, Syed Mushtaq Ahmed <notifications@github.com

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenchmarker>

[2015-10-08 02:52] stfeng commented on #482
Please also cherrypick #516 which fixes some issues introduced by #515. Without #516, existing automations that test against device will be broken because they are not aware of the need to specify the new prefill_device flag (and they should not have to). The fix in #516 will always pre-fill the device if the user is testing directly against the device.

[2015-10-08 11:21] mateusz-blaszkowski opened #517 "PerfKitBenchmarker roadmap"
Do you have any list of planned features you are going to work on in the future (kind of a public roadmap)? What about the Docker support proposal (https://docs.google.com/document/d/1XEmo8OGd7tJIwR89yDkUXeXB13zXfVNUaczveAmWSLY/edit)? I'm trying to figure out in what direction PKB is going.

Thanks!

[2015-10-08 14:08] voellm commented on #517
Mateusz,

Thanks for asking.  I'll include the roadmap and ask Carlos to discuss the
Docker Swarm proposal during the community meeting this month.

There are two parts to the roadmap;
- The technical part such as declaring V1, adding more Windows Workloads,
moving up the Cloud Stack to PaaS and SaaS services, scoring, etc.
- The stewardship path.  Google committed to the first year to run it.
Wha

[2015-10-08 14:09] voellm commented on #517
I'll resolve this after https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/507 is complete.

[2015-10-08 14:09] #434 closed

[2015-10-08 17:08] stfeng opened #518 "Clean up fio benchmark flag logic"
1. We need to rename all fio flags to start with the "fio_" prefix.
2. We need to merge the against_device and prefill_device flags into one flag of the enum type, perhaps with the name fio_test_mode and it has the following four values: against_device_with_fill, against_device_without_fill, against_file_with_fill, against_file_without_fill
3. then we need to change the rest of code that currently

[2015-10-08 17:12] stfeng commented on #518
@noahl, I've discussed this with @voellm. We are going to fix this issue (and make a breaking change) for the next release. (It's a p0 for the next release.)

Expected code change should be simple (search and replace), the more time consuming part is testing. I'd budget about 2 days on this. Let me or Yanting know once you are done, we'd be happy to CR. Thanks!

[2015-10-09 17:20] voellm commented on #469
Good news and bad news.... release v0.22.0 has fixed this issue with the CLI by updating to 0.9.9

You get it with ...
sudo npm install azure-cli@0.9.9

The bad news is Azure Ubuntu images started to have apt-get issues recently.  To fix that we have updated the image used.  That is not in release v0.22.0 but is in master.  You can patch your release to get the update image by updating this file -

[2015-10-09 17:21] voellm opened #521 "Adding better error handling for mismatched CLI versions with PKB"
A couple of users have been hit by unmatched PKB and CLI.

Here is what I propose we do:

have PKB check the version of the CLI and error+exit if it has not been verified to work.
have a flag to turn the error+exit into a warning
The error+exit message should include the following:

A clear message on why the benchmarker exited. No exception stacks as the message.
A message on how to get the CLI v

[2015-10-09 17:22] voellm commented on #469
Opened a feature to track getting more explicit on checking CLI issues.
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/521

[2015-10-09 17:22] #469 closed

[2015-10-09 17:22] voellm commented on #139
@timothyeharris   - Did you every get any follow-up on this bug?  Still and issue?

[2015-10-09 21:37] ehankland opened #525 "Write a comprehensive guide to using configs"
Some config information has been included in the README, but we should have a second document that has everything that someone might want to know about using configs.

[2015-10-10 01:08] syed commented on #503
PR is at #527

[2015-10-10 02:42] voellm commented on #525
This should be on the Wikipages and the basics mentioned in the README.md

On Fri, Oct 9, 2015 at 2:37 PM, ehankland <notifications@github.com> wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenchmarker>

[2015-10-10 15:27] syed commented on #514
I'll give it a shot this weekend.

[2015-10-12 11:43] mateusz-blaszkowski opened #529 "Cleanup phase is not executed when running with --parallelism flag"
Run at least two benchmarks in parallel (using --parallelism flag). Interrupt the execution with Ctrl + C. Cleanup phase is not triggered at all.

[2015-10-12 14:43] voellm commented on #529
Skyler - Can you look into this?

[2015-10-12 17:09] skschneider commented on #529
Off the bat, I'd suspect that the KeyboardInterrupt is being caught by the main thread's RunThreaded that it uses to launch all the other threads that run benchmarks, whereas when running single-threaded it would be caught by the more general exception handler that makes sure Cleanup is executed if there's any exception during a benchmark's execution. This has probably been the behavior for a long

[2015-10-13 02:38] noahl opened #532 "Fio benchmark should use RobustRemoteCommand()"
This will let us continue when the ssh connection is reset.

[2015-10-13 03:34] meteorfox opened #533 "Benchmark configurations that make use of Rackspace's Block Storage service do not work"
Recently, there have been several changes in the OpenStack libraries, where block storage volume support has been deprecated and removed from the Nova client library. Since the current Rackspace provider implementation in PKB depends on Nova, this means it breaks all the volume operations.

Whenever a benchmark configuration that tries to use Rackspace Block Storage volumes as scratch disk will pr

[2015-10-13 03:34] meteorfox commented on #533
@cmccoy Please assign to me

[2015-10-13 04:00] cmccoy commented on #533
Done - thanks!

[2015-10-13 04:23] meteorfox commented on #517
@voellm @mateusz-blaszkowski

I will be more than happy to talk about the Docker Swarm provider proposal on the community meeting.

But in summary, the Docker Swarm proposal at the moment is just that, a proposal, which I'm requesting comments from the PerfKit community to see if there's interest in such feature. There are really 2 parts to the proposal, which I should probably split them in two p

[2015-10-14 00:32] ehankland opened #535 "Cloudsuite Web Search failure"
I recently tried running cloudsuite_websearch and got this error:
[code]
The severe error repeated a bunch and then I got this:
[code]
Some variation of that repeated a bunch, and then the benchmark eventually failed.

[2015-10-14 00:36] ehankland commented on #535
@Vukasin92 Any idea why this might have happened?

The run was on GCP - I still have the log so I should be able to give more details if you want them.

[2015-10-14 05:37] skschneider commented on #529
Ideally, we'd want Ctrl + C to trigger the cleanup behavior in benchmarks and to stop scheduling new benchmarks, so I considered if it was possible to get the main thread to have the benchmark threads raise a KeyboardInterrupt. There does exist an API PyThreadState_SetAsyncExc that could do this, but it looks like it can have unpredictable side effects depending on what the worker thread is doing.

[2015-10-14 06:24] Vukasin92 commented on #535
Have you changed any of the default parameters? Also, on which machine type are you running it?
It might be one of few things: Java heap size on the client or on the server size is too big. Or scale (number of client users per machine*client machines) produces too much workload for the machine the server is on, or it hasn't ramped up enough (Sometimes increasing warm up time can't help because it

[2015-10-14 13:36] mateusz-blaszkowski opened #537 "Cassandra_stress benchmark fails in prepare stage"
I'm attaching the traceback:
[code]

[2015-10-14 14:42] voellm commented on #482
This release is complete.  Connor/me also revved to v0.22.1 to fix a break on Azure VM's with apt-get.  The images had aged a bit.

https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/releases/tag/v0.22.1

[2015-10-14 14:42] #482 closed

[2015-10-14 15:05] cmccoy commented on #537
I'll make a patch. Were there any errors in the log above the traceback? This exception was raised formatting the exception.

[2015-10-14 15:38] meteorfox opened #538 "rackspace: SSH key is not uploaded to provider when using a multi-zone benchmark configuration"
Given that now PKB allows benchmarks to be executed across zones, and even providers, there's a bug in the Rackspace implementation where it assumes that the public SSH key was uploaded once to one region.

[2015-10-14 16:23] ehankland commented on #535
I was running with the defaults on an n1-standard-8.

I'll try to see if I always get the same error - I think I only tried twice yesterday. If it does produce the same error, I'll try playing with the scale to see if that fixes it.

[2015-10-14 16:46] #318 closed

[2015-10-14 17:06] Vukasin92 commented on #535
Hmm, doesn't make sense then. Can you try running prepare stage, then ssh into both machines and type 'jps'. The output on the client machine should display one process named Bootstrap, and the output on the server machine should display process named jar. In the run stage processes RegistryImpl, MasterImpl and AgentImpl should also start on the client.

Which OS are you using? I used default - th

[2015-10-14 19:05] #538 closed

[2015-10-14 20:09] ehankland commented on #535
Hmm I wasn't able to reproduce it today, even using exactly the same flags. If I see this again I'll reopen.

[2015-10-14 20:09] #535 closed

[2015-10-14 20:48] noahl commented on #532
Fixed by #534

[2015-10-14 20:48] #532 closed

[2015-10-14 21:42] meteorfox commented on #513
I'm not good at designing art, but this my best try. Took me at least 2 hours to do this in GIMP.

I tried to follow the material design style. It's supposed to be a kit, kind of like like tray, with what I think are related things to PerfKitBenchmarker.

![pkb_logo_carlos](https://cloud.githubusercontent.com/assets/232300/10498765/06a437aa-7292-11e5-85fe-fae5dd92c778.png)

[2015-10-15 02:04] voellm commented on #493
Did this fix the issue?  OK to close?
On Sep 28, 2015 7:20 AM, "Connor McCoy" <notifications@github.com> wrote:

[2015-10-15 12:00] mateusz-blaszkowski commented on #490
I had a chance to debug the issue further. It's not so much about advertising if it requires scratch disk or not (it's P2). In Kubernetes (and all the Docker based clouds like Mesos+Marathon) you cannot attach a volume to already running instance. Cassandra_stress benchmark is a specific benchmark because it (as the only one) calls  CreateScratchDisk() method (see cassandra_stress_benchmark.py:114

[2015-10-15 12:04] mateusz-blaszkowski commented on #537
No, there were no more errors above this traceback. I have verified the patch today and it seems to works fine - thanks! I have another issue with this benchmark though, but I have described it here: https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/490

[2015-10-15 13:18] mateusz-blaszkowski opened #547 "Scp doesn't make use of SSH port"
`MoveHostFile()` method executes `scp` command without SSH port specification - this will fail if SSH port is different than 22.

One of the benchmarks that fails because of this reason is mesh_network.

[2015-10-15 13:51] mateusz-blaszkowski commented on #517
Thank you guys for answers. That clarifies some of my thoughts.

@voellm - we (Intel) have some ideas for extending PKB (especially for private cloud usage) but this may require some help from the community to achieve this. I will try to gather a list of items that we see could be valuable. Let's see if these items coincide with your needs.

@meteorfox - that would be great to see your changes. I

[2015-10-15 14:18] #547 closed

[2015-10-15 14:21] cmccoy commented on #490
Ah, I understand. I'll have a look at this today.

[2015-10-15 14:38] voellm commented on #517
@Mateusz One thing we have talked about doing is factoring out the
transport (communications) layer to make it more extensible.  For example
where SSH is not an option or available you could tunnel commands over an
object store or filesytem in a message passing manner.  For system that can
inject messages over serial we can use that, etc.  We also have the need in
some circumstances.

Feel free to

[2015-10-15 14:40] #537 closed

[2015-10-15 14:45] voellm opened #550 "Refactor the ssh communication channels to malke them extensible to other means of tunneling commands into VMs."
Not every environment supports SSH as a way to tunnel commands into a VM/Machine.  This feature would be to refactor SSH into a more extensible means of tunneling commands.

Likely the design would be;
- Create a base transport class with send command, send_and_wait for command, etc.  We have a number of variants on RemoteCommand today.
- Extend the base transport to have an SSH/RDP/... specializa

[2015-10-15 14:45] voellm commented on #550
@mateusz-blaszkowski
@meteorfox

FYI...

[2015-10-15 17:08] #490 closed

[2015-10-15 17:09] cmccoy commented on #490
#549 should fix this. @mateusz-blaszkowski : let me know if you continue encountering issues.

[2015-10-15 18:55] yuyantingzero opened #552 "YCSB db size too small."
Default ycsb config for workloadb (95% read, 5% update) on n1-standard-8 doesn't issue disk reads with newer cassandra version (2.1.10), the entire db fit in memory.

[2015-10-15 20:41] meteorfox opened #553 "OpenStack: Race condition when creating floating ips for benchmarks with multiple VMs"
When using a benchmark that requires multiple VMs, such as netperf, ocassionally the Openstack implementation hits a race condition, and gets the same floating IP address for both VMs, which makes the benchmark fail.

Note below that both VMs got the IPv4 address 10.50.48.11

For the output below, the following flags were used:
[code]

[code]

[2015-10-16 11:51] mateusz-blaszkowski opened #555 "BaseVirtualMachine.__str__() method returns non-string object in some cases."
I intentionally tried to throw an exception before running a test when one of the conditions was not met (see `_CheckPrerequisites()` method from `kubernetes_virtual_machine.py`). This exception was obscured by another exception:

[code]

The problem is that `BaseVirtualMachine.__str__()` method returns None when ip_address is not set. This creates additional exception (copied above) which obscure

[2015-10-16 14:32] #555 closed

[2015-10-16 16:32] meteorfox commented on #553
@kivio I'm not sure if GitHub sends you notificaitons for all issues, so I'm just copying you to this issue for awareness, since according to git you wrote the floating_ip code. Thanks in advance!

[2015-10-16 23:03] ehankland commented on #472
You can now do this either by specifying the key "local_disks" in the old static vms json file, or by using the new config support.
To run against a device you would use the following command line:
```./pkb.py --benchmark_config_file=fio.yaml --against_device```

Where fio.yaml would have these contents:
[code]

[2015-10-16 23:03] #472 closed

[2015-10-17 00:00] ehankland commented on #525
The guide to configs should also explain benchmark specific flags and how to specify them in configs

[2015-10-19 21:38] yuyantingzero opened #559 "fio against_device mode always seq write entire device"
"sudo /tmp/pkb/fio/fio --filename=/dev/sdb --ioengine=libaio --name=fill-device --blocksize=512k --iodepth=64 --rw=write --direct=1 --size=0" still write the entire device.

[2015-10-19 21:45] yuyantingzero commented on #559
Seems to be related to fio version update.

[2015-10-19 22:14] yuyantingzero commented on #559
Tried --size=0/0%/0g/0m/0k, all of them will write the entire device in fio-2.2.10.

[2015-10-20 07:26] mateusz-blaszkowski opened #560 "Unresolved dependency: requests.packages"
After CloudStack provider merge, I have the following traceback right after running any benchmark:

[code]

Adding `requests>=2.5.1` to `requirements.txt` solves the issue, but I'm not sure if that's the way you want to fix this.

[2015-10-20 12:15] mateusz-blaszkowski opened #561 "Possibility to run the same type of benchmark in one run."
Currently when I pass the same benchmark twice (like `--benchmarks=ping,ping`), the benchmarker will create a _set_ from the provided benchmarks list. This way I am not able to run the same type of benchmark in one run which would be useful when i.e. running the benchmarks in parallel.

[2015-10-20 12:20] syed opened #562 "Project id not respected when deleting disk in Cloudstack"
I forgot to pass project_id as an agrugment when deleting volume.

[2015-10-20 12:53] mateusz-blaszkowski opened #564 "Add a concept of 'machine_type_spec'."
In Kubernetes (and Marathon which is a framework for Mesos) we don't have flavors. Passing a flavor using `--machine_type` flag doesn't make sense. We do have a possibility of specifying resources limits though (like memory and cpu). I'd like to create a common flag for these resources which will be used by some of the providers (like Kubernetes and Mesos). I would like to know your opinion before

[2015-10-20 14:44] cmccoy commented on #561
@ehankland is working on that in #546 - perhaps you could see if that implementation suits your needs?

[2015-10-20 15:00] cmccoy commented on #560
@syed - could you take a look at this?

[2015-10-20 15:08] syed commented on #560
This is because there are two versions of requests in Ubuntu. `pip` installs in `/usr/local/lib/python2.7/` whereas there is an OS owned `requests` in `/usr/lib/python2.7/`. You can fix this by

[code]

[2015-10-20 15:16] cmccoy commented on #560
I don't see a requests version specified in our [`requirements.txt`](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/requirements.txt) or [`csapi`'s `setup.py`](https://github.com/swill/csapi/blob/master/setup.py#L29); without that a user with an incompatible version of `requests` will appear to meet all specified dependencies, which is wrong.  We should specify a version.

[2015-10-20 15:19] cmccoy commented on #560
Alternatively, if `urllib3` is just imported to disable warnings, perhaps we could make that step more robust to different requests versions?

[code]

[2015-10-20 15:27] #562 closed

[2015-10-20 15:29] cmccoy commented on #564
For Kubernetes/Mesos - are there other container parameters beyond CPU/memory? If not, I'm tempted by the second, but the first sounds fine too.

[2015-10-20 16:11] syed commented on #560
I agree @cmccoy. I'll send a PR to fix this

[2015-10-20 16:49] ehankland commented on #561
That functionality is already in master - (https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/546 just lets you specify different flags for each run). You can use a configuration file or specify it on the command line.
Config file approach:
`./pkb.py --benchmark_config_file=ping.yml`
[ping.yml]
[code]
Or the equivalent on the command line:
`./pkb.py --config_override="benchmarks=[{ping

[2015-10-20 17:21] #560 closed

[2015-10-20 19:17] ivansmf opened #568 "Link to PIP installation is broken on readme.md"
It is http://pip.readthedocs.org/en/index/stable/index/index/index/index/index/index/index/index/

It should be http://pip.readthedocs.org/en/stable/installing/

[2015-10-20 21:26] syed opened #570 "Documentation for the result output"
I don't know if this is a good place to ask questions but the community email doesn't work.

Is there any documentation about the result format? I was planning to use PerfKitExplorer but in its current state I find it too complicated. I might end up rolling my own simple dashboard. If there is any documentation that I can refer to for the output format that would be really awesome.

[2015-10-20 23:42] voellm commented on #570
Added Joe and Klaus that can help you.

There are a set of dashboard checked in for PKB data here -
https://github.com/GoogleCloudPlatform/PerfKitExplorer/tree/master/data/dashboards

On Tue, Oct 20, 2015 at 2:26 PM, Syed Mushtaq Ahmed <
notifications@github.com> wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfg

[2015-10-20 23:46] voellm commented on #568
Fixed https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/commit/cb0faaffb6de299a97545e7fda4e064b7c4bd547

[2015-10-20 23:46] #568 closed

[2015-10-21 08:43] syed opened #572 "Passing project (or other param) to Network and Disk class when using *VmSpec"
the `project` field is optional in Cloudstack. Currently I am checking the `flags` to get its value but I wanted to add that as a `vm_spec` so that I can run the same benchmark on multiple clouds using the config. However, I don't find any way to pass `project` to the network or disk class apart from the global flags.

[2015-10-21 08:49] syed commented on #572
I checked and it seems that I can modify my `Disk` class as that gets created in my `VM` class. However, network is not. Can we add a callback similar to `CreateScratchDisk()` for network?

[2015-10-21 13:01] mateusz-blaszkowski commented on #564
Currently only CPU and memory, but for Kubernetes there is a plan to add other resource types (see 'Future resource types' section in http://kubernetes.io/v1.0/docs/design/resources.html ).

In such case I will stick to the first option if that's OK for you too. Thanks :)

[2015-10-21 13:03] mateusz-blaszkowski commented on #561
Ok, that's great. Tomorrow I will take a look at this. Thanks

[2015-10-21 13:39] cmccoy commented on #564
Sounds great -  thanks.
On Oct 21, 2015 6:01 AM, "Mateusz Blaszkowski" <notifications@github.com>
wrote:

[2015-10-21 13:46] mateusz-blaszkowski opened #573 "Don't stop the run if one of the benchmarks failed."
When you run multiple benchmarks (i.e. `--benchmarks=mongodb_ycsb,cassandra_ycsb`) and the first one fails, all the subsequent benchmarks will not be run. This is particularly unwanted when we want to run tests at night and it turns out that most of the benchmarks were not executed at all because of the first one failing.

[2015-10-21 17:23] skschneider commented on #564
I believe the existing vm_spec configs are a good place for new options like cpu and memory. For example, cluster_boot.vm_groups.default.vm_spec.Kubernetes.memory
I'm concerned about conflicts between new flags and the config system. If I understand the trend so far, flags can override the config, but the flags described in the first post do not target a particular VM group, which would make it di

[2015-10-21 17:31] skschneider commented on #564
Spoke with ehankland, current behavior of the --machine_type flag also doesn't target a VM group and overrides settings of all VM groups in the config. Since that's the case, I'd be okay with it if the new flag behaves similarly, but I also recommend config support.

[2015-10-21 18:02] skschneider commented on #573
I believe this is also a current discrepancy between the single-threaded and parallel behavior. If you set --parallelism=2, it should run all benchmarks and then raise a single exception at the end that reports failures raised during any of the runs. But with the current default of --parallelism=1, you get the fail-and-stop behavior you mentioned.

Unless there's any reason to preserve the old beh

[2015-10-21 18:09] voellm commented on #573
I'm ok with continuing but we need to make sure the failed runs are
reported at the end clearly.  Not sure that happened now.

We should also have a flag like --continue_runs_on_failure and default to
true

On Wed, Oct 21, 2015 at 11:02 AM, skschneider <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Bl

[2015-10-21 18:11] voellm commented on #570
@Syed - Did you need more help on this?  If so feel free to ping me directly at voellm@google.com and I'll loop in @jmuharsky and @klausw  people to help you.

[2015-10-21 18:12] voellm commented on #564
Ok so it looks like we all agree this is a useful feature.  Anyone want to take it on?

[2015-10-21 18:12] voellm commented on #561
If this works for you please close the issue.  THanks!

[2015-10-21 18:13] voellm commented on #553
@kivio is this something you can fix?

[2015-10-21 18:15] voellm commented on #529
@skschneider  @mateusz-blaszkowski What is the next step here?  This is marked as a P0 bug so I'd like to either downgrade because its not important or work on a fix.

Thanks!

[2015-10-21 18:20] skschneider commented on #529
Spoke with cmccoy. We're agreed that replacing the call to RunThreaded with RunParallelProcesses and then enhancing RunParallelProcesses is a good way to go. I'll work on that PR.

[2015-10-21 22:24] cmccoy opened #576 "Release v0.23.0"
I'm planning on starting the next release this Friday, October 23 - everything in master at that point will be included. If you have any changes you'd like included, please ping the issue / pull request. Thanks!

[2015-10-21 22:26] cmccoy commented on #56
This was done.

[2015-10-21 22:26] #56 closed

[2015-10-21 22:29] cmccoy commented on #85
Closed by 03fbb997fc587413c47970e2ad1243d627fdbe5d

[2015-10-21 22:29] #85 closed

[2015-10-21 22:29] cmccoy commented on #129
This was moved to PerfKitExplorer.

[2015-10-21 22:29] #129 closed

[2015-10-21 22:31] cmccoy commented on #418
Closing as stale.

[2015-10-21 22:31] #418 closed

[2015-10-21 22:32] cmccoy commented on #462
There's now a `redis_ycsb` benchmark - I'll see if that produces more consistent results with this release.

[2015-10-22 04:06] cmccoy opened #578 "VM "benchmark" metadata contains UID, rather than benchmark name"
As of #510. I think this should still be the benchmark name, rather than a (locally) unique name + index.

[2015-10-22 10:47] mateusz-blaszkowski commented on #573
Having something like failure rate at the end of the run would be great. If I run dozens of benchmarks (either sequentially or in parallel) I would like to know how many benchmarks failed (and what were the reasons of failures).

[2015-10-22 13:29] kivio commented on #553
@voellm @meteorfox - yes, i can fix it. We have it fixed in some test environment but we haven't that much time to upstream that. I will try to push it to github to end of this working week.

[2015-10-22 13:54] voellm commented on #573
Skyler - assigning to you.  Feel free to ask Noah to do it if you dont have time.

[2015-10-22 14:37] syed commented on #570
Thanks @voellm, I think I understand the format a bit better after reading the code.

[2015-10-22 14:37] #570 closed

[2015-10-22 16:41] meteorfox commented on #553
@kivio thanks for the PR.

I'll test it now, and report back.

[2015-10-22 16:52] ehankland commented on #578
The UID is the benchmark name + a number - just to confirm you are you saying you want only the benchmark name and no number?

[2015-10-22 17:12] ehankland commented on #572
Yes we can - I'll work on a fix.

[2015-10-22 17:43] cmccoy commented on #525
I'm planning to start the release tomorrow. Any chance of getting a start on this by then? At minimum we should document incompatible changes.

[2015-10-22 17:52] meteorfox commented on #553
Fix confirmed. Marking as closed. Thanks!

[2015-10-22 17:52] #553 closed

[2015-10-22 19:30] syed commented on #503
Closing this

[2015-10-22 19:30] #503 closed

[2015-10-22 22:01] ehankland commented on #525
I'm working on it now. I need to double check, but I think the only real breaking change was the move from --zones to --zone.

[2015-10-23 00:16] ehankland commented on #525
Not done, but here's a start: https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/PerfkitBenchmarker-Configurations

[2015-10-23 14:12] kivio commented on #552
@yuyantingzero I fix this problem by change workload file, you can change there number of columns in each record, size of column and number of rows (db size).

[2015-10-23 17:07] cmccoy commented on #525
Nice. Could you add some examples and links wherever there's a "see python class x"?

[2015-10-23 17:21] voellm commented on #525
Cool... I added it to the "how to's / FAQ" here ...
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/FAQ

You can also link the external design doc here -
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/FAQ

On Fri, Oct 23, 2015 at 10:07 AM, Connor McCoy <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google

[2015-10-23 23:21] cmccoy opened #584 "Help doesn't render with FlagValuesProxy."
Example:

[code]

@ehankland - do you have a minute to look at this? If not assign back to me.

[2015-10-26 17:02] #584 closed

[2015-10-26 21:20] noahl commented on #518
This is fixed by #581

[2015-10-26 21:20] #518 closed

[2015-10-26 21:55] stfeng opened #590 "Log the version of boto for GCP and S3 to metadata in object storage benchmark"
As title.

[2015-10-27 13:42] mateusz-blaszkowski commented on #561
Verified - works for me. I'm closing the issue.

[2015-10-27 13:42] #561 closed

[2015-10-28 18:43] cmccoy opened #594 "Add an example for the Azure client library version flag"
@voellm request from #593 for `--azure_lib_version`?

[2015-10-28 19:06] cmccoy commented on #552
The current configuration populates the database with ~1GB of records. This is certainly too small for stressing Cassandra - I usually increase this to at least 2x the total memory of the cluster (via `--ycsb_recordcount`).

I'm OK increasing the default, but for in-memory cases (Aerospike if it's not configured to use disk, Redis) we need to keep the database size relatively small. How about for

[2015-10-28 19:13] cmccoy commented on #573
In case it's useful to anyone until a fix is available: I usually use [`parallel`](http://www.gnu.org/software/parallel/) to manage running multiple benchmarks; it can optionally output a log file with the status of each invocation (`--joblog`).

[2015-10-28 19:20] skschneider commented on #573
Working on this now. Solution will be related to #529, and it may not be in the current release but will definitely be in by the release after that.

[2015-10-28 19:21] skschneider commented on #529
Working on this now and almost done with implementation but need some more time for testing everything and then iterating with reviews. May not make it into the current release but will definitely be in by the release after that.

[2015-10-28 21:43] cmccoy opened #596 "object_storage_service .boto check should be in CheckPrerequisites"
Right now the object storage service benchmark fails if a `.boto` file can't be found either in the user's home directory or at the location specified by a flag. However, this check happens during the prepare phase, so VMs are created and torn down. The object storage service benchmark should check preconditions before creating any VMs.

@stfeng - can you take a look?

[2015-10-28 21:50] stfeng commented on #596
So basically move the check to CheckPrerequisites(). Makes sense. That function wasn't there when I initially created this benchmark, now we can move some checks to the prerequisite checking step.

In addition to this particular check of .boto file, we should also make sure other prerequisites in this benchmark are moved to that CheckPrerequisites().

[2015-10-29 01:31] voellm commented on #491
ping ... and update on this?  Should we assign it out?

[2015-10-29 01:35] #188 closed

[2015-10-29 01:35] #136 closed

[2015-10-29 01:36] #126 closed

[2015-10-29 01:36] #122 closed

[2015-10-29 03:24] voellm commented on #24
Connor has a pull request out to satisfy this ... https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/554

[2015-10-29 16:11] kozyraki commented on #427
@kivio Sounds great. Is there a dataset and a query trace or generator to use with Magento?

[2015-10-30 09:27] mateusz-blaszkowski commented on #517
As I said on the community meeting - I'm copying the list of improvements which are important for us:

* Possibility to run at scale (up to 1000 nodes with thousands of instances). Current potential bottlenecks:
  * SSH (https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/550) - generating dozens of thousands of SSH request would be very costly (if not impossible)
  * logs (800 mb of

[2015-10-30 12:42] kivio commented on #427
We have it done a little bit manually but it's simple to automize. But my biggest problem currently is lack of time to do it.

[2015-10-30 15:00] voellm opened #601 "It looks like PKB is can drive the host load average over 1.1 when running large scale benchmarks"
From @mateusz-blaszkowski
CPU consumption on the host which is running the benchmarks (Load average ~1.1 when running redis with 100 redis client instances)

Queuing this up for future investigation.

[2015-10-30 15:02] voellm opened #602 "Compress or make obvious how to control the size of logs"
From @mateusz-blaszkowski
logs (800 mb of logs when running redis with 100 redis client instances)

[2015-10-30 15:03] voellm commented on #436
The idea is to have a flag like --benchmarks=fio+iperf

Raising pri so we pick this up sooner.

[2015-10-30 15:05] voellm commented on #517
Great feedback.

Laid out the next quarters idea here - https://docs.google.com/presentation/d/1MkMPxYN1rgIPXy0576UUVGGnUIPaJavFnY1aWfJqh14/edit

In terms of commitments #550 high on my list and we'll look to do that Jan - Mar - Q1 for Google if not before.

#573 is currently being worked by @skschneider.  He has a good model for how to handle it and working code.

Added #601 for the high CPU load

[2015-10-30 15:07] voellm commented on #517
In terms of tracking when things will happen we should use the "Milestone" flags on issue.  When something is being worked or planned the target release can be set.  Sound like a good idea?

[2015-10-30 16:26] voellm opened #603 "Post the Governing Rules to the Wiki"
We as a community have made a number of decisions on how we do things.  Some of this is written down in the community slides, some has been discussion during meetings with verbal agreement, etc.  Now is the time to post the rules for the following;
- How do we add / new benchmarks?
- How do we have the standard_set?
- How do we do code reviews?
- Etc.

Here is a placeholder page...https://github.c

[2015-10-30 16:44] voellm commented on #507
https://docs.google.com/presentation/d/1MkMPxYN1rgIPXy0576UUVGGnUIPaJavFnY1aWfJqh14/edit

- V1.0.0
- Intel on Kubernetes
- EPFL on Cloud Suite Integration
- Simple Web Server Workload Proposal
- Project Updates
- Open Discussion

[2015-10-30 16:44] #507 closed

[2015-11-02 09:20] mateusz-blaszkowski commented on #436
@voellm - just to be sure - what would be the expected behavior when passing `--benchmarks=fio+iperf`? Currently when I pass both `--benchmarks=fio,iperf` and `--parallelism=2` then these two benchmarks will be executed together but their Run phase will not be synchronized (they will actually start benchmarking at different times). Would `--benchmarks=fio+iperf` solve this issue?

[2015-11-02 09:29] mateusz-blaszkowski commented on #517
Thank you @voellm for the update.

For me "Milestone" flags will be perfect as long as they are updated regularly.

[2015-11-02 09:39] mateusz-blaszkowski commented on #602
I can add a few comments on this.

You can provide `log_level` flag when running pkb but this will only set the log level for the output. And this is set to 'info' by default. However, all-level logs are written to the pkb.py file (particularly all the debug logs are there). I don't consider it a bad thing when you run a single benchmark with a small amount of instances, but when testing a huge cl

[2015-11-02 09:41] mateusz-blaszkowski commented on #573
@skschneider - are you going to present some kind of a failure rate (with the list of benchmarks that failed) at the end of a run?

[2015-11-02 16:08] cmccoy commented on #576
Closed by 1d9762fd893483ec0831e3ae314318fb868fd8d5

[2015-11-02 16:08] #576 closed

[2015-11-02 18:32] skschneider commented on #573
Yes, that list & percentage are included in #597. They will be printed after the list of samples at the end of a run.

[2015-11-02 22:53] cmccoy commented on #578
Right.

[2015-11-02 22:57] ehankland commented on #578
Looks like @skschneider is adding the benchmark name back to the spec in https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/597/files - after this change, it should just be a one line change

[2015-11-02 23:00] skschneider commented on #578
This might already solve the problem you're describing:
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/597/files#diff-912d79fe2121b7a46a28c3792740162dR430

[2015-11-02 23:28] ehankland commented on #578
Yep - that should do it - sorry I didn't check if you changed the metadata as part of that PR

[2015-11-03 06:02] voellm commented on #436
Correct... the intent of +/is meant to mean run together on the same
machines at the same time.
On Nov 2, 2015 1:20 AM, "Mateusz Blaszkowski" <notifications@github.com>
wrote:

[2015-11-03 06:51] noahl commented on #172
`$mb_memory' in a fio job file means the amount of memory on the machine running fio. You cannot do `filesize = 1000 1000 10000', but you can do `filesize = 1000 * 1000 * 10000'. For more information on fio job files, please see https://github.com/axboe/fio/blob/master/HOWTO

Beyond that, it's not clear to me what the bug is here. What enhancements are being asked for? Have we implemented them in

[2015-11-03 14:15] mateusz-blaszkowski opened #606 "Q: Perfkit target users & comparison with CloudBench"
It's more like a question than an issue. We've just wondered if you had some discussions with cloud providers who wanted to use Perfkit in order to white-box test their own clouds. Was anyone interested in using Perfkit for e.g. stressing their private clouds to see what would be the best SW/HW configuration for the clouds?

Btw. Did you have a chance to look at the CloudBench project (https://git

[2015-11-03 19:23] voellm commented on #606
Mateusz - It looks like that project has been around for a year.  Perhaps we should ask them to join us.  I'll open a discussion issue with them.

[2015-11-03 19:27] voellm commented on #606
If you have contacts for contributors there please sent an introduction.  As a proxy I opened an issue - https://github.com/ibmcb/cbtool/issues/85

[2015-11-05 01:27] skschneider opened #616 "Remove --parallelism flag"
After discussing this topic within Google, the current consensus is that maintaining this flag introduces too many complexities into the PKB code when alternatives like xargs already exist.

I intend to leave this issue open for the next week in case there are any strong reasons in favor of keeping the flag. If not, the flag will be removed for the next tagged release.

[2015-11-05 01:29] skschneider commented on #529
The current plan has changed to removing the --parallelism flag. Discussions welcome on issue #616.

[2015-11-05 01:30] skschneider commented on #573
Plans have changed to remove the --parallelism flag (#616). I have opened a new pull request (#614) that specifically addresses the current issue.

[2015-11-05 20:47] meteorfox opened #619 "openstack: Benchmarks with scratch disk fail with AttributeError"
Whenever I try to execute a benchmark that makes use of a scratch disk using the OpenStack provider I get the following error:

[code]

Inspecting the code in `os_virtual_machine.py`, it seems the attribute `self.project` is never set.

[2015-11-05 20:48] meteorfox commented on #619
@kivio @mateusz-blaszkowski PTAL, I can fix it, but I don't know what does the attribute self.project is supposed to be. Thanks

[2015-11-06 00:20] skschneider commented on #578
Fixed by #615.

[2015-11-06 00:20] #578 closed

[2015-11-06 00:23] skschneider commented on #573
This is fixed by #614 with a printed summary added in #620.

[2015-11-06 00:23] #573 closed

[2015-11-06 00:31] noahl opened #621 "Consider moving object stores to provider directories"
This comes from the discussion on #609 . It would mean a refactor of the object storage benchmark.

[2015-11-06 11:34] kivio commented on #619
I was looking for this attribute in driver code and i think it is from base class of VirtualMachine.
You can find it in BaseVirtualMachine doc.

It is not used currently in my driver. I think we can remove it.

[2015-11-06 11:40] kivio commented on #619
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/622

[2015-11-06 13:34] mateusz-blaszkowski commented on #606
@voellm I don't have unfortunately. Thanks for opening the issue there

[2015-11-06 14:42] mateusz-blaszkowski commented on #616
We have a use case for parallelism flag. To give you a quick context:
we use Perfkit in a different purpose than it was originally designed for - we don't compare cloud offerings. Instead we would like to use it as a tool which helps us to stress our private clouds so that we can see where the bottlenecks are and how we should configure the cloud (in terms of hardware and software) to gain the bes

[2015-11-06 18:55] noahl commented on #616
Hi Mateusz,

For the parallelism itself, I think you can accomplish everything you want with GNU Parallel. However, I don't know about merging the results. What sort of output do you want from the combined run? Is it more complicated than appending the lists of samples generated by each benchmark?

Thanks,
Noah

[2015-11-06 18:59] voellm commented on #616
Are you looking for results to have the same run_url or run_id?  It is
possible today to include more metadata with the --metadata flag and with
this you can link runs with a custom field.

[2015-11-06 19:03] meteorfox commented on #619
Verified.

[2015-11-06 19:03] #619 closed

[2015-11-06 19:56] kivio opened #624 "Make perfkit code independent for providers code"
What does mean for me:
1. Remove provider configuration from benchmark_spec
2. Remove dependencies on providers from benchmarks (https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/621)

I don't known what more but i can propose whole solution for that soon - @voellm what do you think about that?
It's big change and doing it step by step can takes big amount of time? Then my propose i

[2015-11-06 19:58] voellm commented on #624
What are you trying to achieve here?  Not really sure I understand from the description here.

[2015-11-06 22:16] ehankland commented on #621
Also the mysql service benchmark and maybe the cloud bigtable benchmark as well

[2015-11-07 11:14] kivio commented on #624
In future look i want to have installed just that providers than i want to use.

In shortest, i have problem because when i was updating my sourcecode of PKB i catch error.
"c(loud)s(stack)api not found" - wait a moment i want to run openstack provider.

Ok this looks like problem with cloudstack provider, i was using novaclient in my driver but i was doing it more smartly and you catch this error

[2015-11-07 14:17] voellm commented on #624
Agreed... @connormccoy noted this as well.  Our plan is to allow the code
to go together but delay load only when you use it.

@noahl -
We should have this addressed in the next release v0.24.0
On Nov 7, 2015 3:14 AM, "Marcin Karkocha" <notifications@github.com> wrote:

[2015-11-07 14:53] voellm commented on #621
To Eric's open I think we also need to refactor the mysql_service benchmark as well.

What I'd like to see is a "object service" resource and "mysql service" resource much like we have disk, networks, and VM's today.

[2015-11-07 15:37] voellm commented on #517
Sounds good on the Milestone.  I've move bugs to target them.

To help lay things out here is an architecture diagram - https://drive.google.com/file/d/0B5iICDqrB_E9eE1pbTJDSGhiUlU/view

Here is a also a guesstimate on changes laid out on a timeline...
https://drive.google.com/file/d/0B5iICDqrB_E9OFlpYU0zaFNlT1k/view

Based on this I'm going to close the issue.

[2015-11-07 15:37] #517 closed

[2015-11-08 13:25] kivio commented on #624
@voellm - it's not finished but you can look here (https://github.com/kivio/PerfKitBenchmarker/tree/refactor_providers) in provider package for my conception of make this change

[2015-11-09 10:15] voellm opened #627 "Update flags and a few small code changes is alicloud provider"
@hicrazyboy

https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/611

Prefix the flag with ali_
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/611/files#diff-f0e4cdc27d0409f2edd6208085ce97cbR43

Want to see if there is a way we can remove the paramiko dependency for this
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/611/files#diff-0baf71e5bd850877ba5be59

[2015-11-09 15:03] mateusz-blaszkowski commented on #573
Looks great and the table in the end very clearly outlines the final status. Thank you for your work!

[2015-11-09 23:51] noahl commented on #284
We at Google have been talking about this more, and we have a proposed design. Anyone who is interested, please comment on this doc: https://docs.google.com/document/d/1ruXqIEg_QAGAD9kpH5rskFVltLtM6gZLqAR67UQg9Es/edit?usp=sharing

[2015-11-10 12:10] mateusz-blaszkowski commented on #616
Sorry for the delay. I've consulted this with other team members - it looks like we will get by without --parallelism flag. It would be nice to have this feature integrated but it's not necessary - as you pointed out running multiple PKB instances and combining the output shouldn't be a problem. Anyway, thanks for the cleanup and 'accept failures' policy - it very clearly presents the final status

[2015-11-11 07:53] hicrazyboy commented on #627
OK, I'll try this week, maybe on the weekend.

[2015-11-11 08:24] voellm commented on #627
Thanks Geoffrey and congrats on your checkin to PKB.  If you are not a
member of perfkitconnect@googlegroups.com please email me (voellm@google.com)
your Google managed domain (@gmail.com or AppsDomain) and I'll make sure
you get an invite to the next community meeting.  Likely early Jan.

[2015-11-12 00:12] noahl commented on #525
I took a look at the wiki page above and I see a description of configs and several examples. Can we close this issue, or is there more to do?

[2015-11-13 18:38] noahl commented on #624
@ehankland Would you please assign this to yourself, since you're working on the fix?

[2015-11-13 18:46] ehankland commented on #624
Sure - I'm not sure what I'm working on will completely fix this issue though - there's still the matter of moving object storage and sql service provider code into the provider directories.

[2015-11-13 18:47] skschneider commented on #616
Glad this is acceptable. I'll work on removing the flag later today.

[2015-11-13 19:05] noahl opened #631 "Require a disk_spec to provision a disk"
Right now it is possible to choose a machine type that comes with a built-in disk and use that disk as a block device without ever creating a disk spec. It is also possible to do the same thing on GCP by passing the `--gcp_num_local_ssds` flag without also passing `--data_disk_type=local`. We should enforce that local disks always get disk specs.

[2015-11-13 21:41] #590 closed

[2015-11-13 22:57] noahl commented on #624
Oh, I was thinking of this bug as just covering not loading provider APIs we don't need. That's what I think we need to merge for this release. We can track the rest of the work in #621 .

[2015-11-14 00:01] noahl opened #634 "Auto-detect disk media instead of using tables"
@ehankland points out that we can auto-detect whether a disk is an HDD or SSD using the technique at http://unix.stackexchange.com/questions/65595/how-to-know-if-a-disk-is-an-ssd-or-an-hdd . This would be more robust and maintainable than keeping manually-updated tables.

[2015-11-14 02:34] stfeng commented on #631
Let's start with thinking about these questions: 1) what are the current ways of "creating" and using local SSD/HDD on the major providers? 2) what are the desirable ways of doing such?

Writing down specific command examples will help a lot.

[2015-11-14 05:57] meteorfox commented on #634
Interesting idea, unless this GCP specific, I think it might not work for all cases since the kernel might not be able to tell apart from devices like virtual block devices even if they are backed by SSDs.

[2015-11-16 19:25] skschneider commented on #616
Removed in #633.

[2015-11-16 19:25] #616 closed

[2015-11-16 19:26] skschneider commented on #529
--parallelism flag has been removed.

[2015-11-16 19:26] #529 closed

[2015-11-16 22:12] noahl commented on #525
I just talked with Eric. We can always expand our documentation, but we already have a good amount up. I'm marking this as complete. If anything is missing from the docs, we should file specific issues about the missing pieces.

[2015-11-16 22:12] #525 closed

[2015-11-16 23:56] noahl commented on #624
Eric just merged the part of this that I wanted to get done in 0.24.0. I'm going to remove this from the 0.24.0 milestone.

[2015-11-17 15:56] milkotodorov commented on #498
SuSE support is long ago ready, but clarification of the submit process is delaying the push.

[2015-11-17 19:07] ehankland commented on #624
Should we keep this open to help track the remaining work or close it now that providers are loaded only if they are needed?

[2015-11-17 19:18] ehankland commented on #572
This is possible now that the above PR is merged. You need to define a NetworkSpec object and implement  _GetKeyFromNetworkSpec as well as _GetNetworkSpecFromVm. If you need help, let me know.

[2015-11-17 19:18] #572 closed

[2015-11-17 19:20] ehankland commented on #193
The config refactor has been merged so this is now possible - see https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/PerfKitBenchmarker-Configurations for more information.

[2015-11-17 19:20] #193 closed

[2015-11-17 22:45] ehankland commented on #508
Fixed by the above PR

[2015-11-17 22:45] #508 closed

[2015-11-17 22:48] meteorfox commented on #193
@ehankland thanks for closing. I forgot to close it.

[2015-11-17 23:47] noahl opened #646 "RELEASE: v0.24.0"
This issue tracks release 0.24.0.

[2015-11-18 11:02] voellm commented on #498
Milko,

If you have the code ready in your fork please open a pull request into
master.  From there one of the committers will review it with you.  Once
any changes are complete you will get a LGTM and they will hit merge.

It would be great to complete this in b the b next week because the v1
launch release is coming up next.

  Tony

[2015-11-18 11:44] milkotodorov commented on #498
Hi Tony, I'll try to speed it up. However what I meant is that I'm not submitting privately, but from a company and I need an approval to do this, which is unfortunately still not ready. Once I have the green light, I'll do as you said.

[2015-11-18 17:57] voellm commented on #624
@ehankland
@noahl

is there still remaining work?  If so can we please list it all here.

[2015-11-18 18:00] voellm commented on #564
This now works via config files.

@ehankland - Is there good documentation on how to use this?
@mateusz-blaszkowski  - Do you still want a flag or is config good enough?

[2015-11-18 18:11] voellm commented on #513
Thanks to everyone who gave suggestions.  We ran a couple of bakeoffs and landed on this...
![screenshot from 2015-11-18 10 05 13](https://cloud.githubusercontent.com/assets/5758832/11249605/bb43b9b4-8ddc-11e5-9ee2-f30c6aeb04b8.png)

[2015-11-18 18:11] #513 closed

[2015-11-18 18:20] ehankland commented on #564
I don't think this has been added yet, but I could be wrong.

[2015-11-18 18:21] #458 closed

[2015-11-18 18:23] voellm commented on #564
Oh ... @skschneider said you made it so config files could define machines.

On Wed, Nov 18, 2015 at 10:20 AM, ehankland <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenchmark

[2015-11-18 18:28] ehankland commented on #564
Config files can define classes of machines across all providers and use those, but the actual feature to specify the number of cores/ram on providers which allow that hasn't been started yet AFAIK

[2015-11-18 18:54] skschneider commented on #564
So what's missing here is that the Kubernetes provider needs to define class KubernetesVmSpec derived from BaseVmSpec, and add an arg named "cpu" to the constructor, and KubernetesVirtualMachine's constructor needs to get the cpu value from the spec object and use it. Then the cpu property can be set through configs. If cpu and memory are common enough config options, we may add them to the BaseVm

[2015-11-18 19:35] voellm commented on #498
Ahh thanks... Not sure if this helps you but to date Intel, Rackspace,
Alibaba, EPFL, MIT, Stanford, ... have all signed the community agreement
as organizations.  If SAP needs to talk to Google legal please ping me at
voellm@google.com

[2015-11-18 22:03] ehankland commented on #564
Right - it should only be a few lines to add it to configs - assuming you also want a flag, you just have to add an ApplyFlags method to the VmSpec and modify the spec according to the flag values if they are present.

[2015-11-19 00:56] hildrum commented on #436
What's the expected machine set in this example when the configurations for `fio` and `iperf`?  I can think of several interpretations:
* two VMs, where both participate in `iperf` and one is used by the `fio` benchmark
* two VMs, where both participate in `iperf` and two copies of `fio` are run
* three VMs, where two are in `iperf` and one is running `fio`.

In this case, it might be possible to

[2015-11-19 01:02] voellm commented on #436
The second is desired.  For any single VM benchmark is should be duplicated
on all machines.

Not what happens if you try iperf+cassandra ?  That I would say is
undefined.  We should not allow mapping of configs that both need multiple
VMs.

So any one benchmark can have multiple VMs + any others that require only a
single VM.

For example iperf+fio+coremark should result in two VM's running iperf

[2015-11-19 01:10] ehankland commented on #373
Fixed with https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/636

[2015-11-19 01:10] #373 closed

[2015-11-19 01:41] ehankland commented on #602
@mateusz-blaszkowski Can you confirm whether or not using `--file_log_level=info` option reduces the log file size sufficiently? Also please let us know if it helps with the CPU consumption problem.

Thanks!

[2015-11-19 08:05] debabhatt opened #654 "Help required regarding , running Object_storage_service benchmark in Openstack Private Environment"
Hi!  I was trying to run object_storage_service  benchmark  in a private openstack setup with  a static_vm_file

./pkb.py --cloud="OpenStack" --scratch_disk_type=standard --scratch_disk_size=10 --benchmarks="object_storage_service"  --object_storage_credential_file=/root/PerfKitBenchmarker   --static_vm_file=$server_info.json

the error i came over is as follows :

2015-11-18 23:27:53,384 398d70ad

[2015-11-19 08:30] kivio commented on #624
@noahl - #621 is good part of what i meen, but not all. I think more about dynamic dependencies injection. Importing provider just where is need and auto-discover options of them like Networks, Disks, VMs and others. All for remove configuration of providers dict from benchmark_spec. I think i can show you code after weekend.

[2015-11-19 15:35] voellm commented on #654
OpenStack does not have an object store so you have to use one that is available.  PKB supports today Google Cloud Storage (GCS), Amazon S3 and Azure Blobs.

You select the object store using this flag "--storage=GCP"

If you want to use one of these object stores you will need to have an account with that could provider and have set up the CLI as described in the README.

In your particular cause

[2015-11-19 15:36] voellm commented on #654
Please let me know if this works for you.  Happy to help further.

[2015-11-19 15:58] debabhatt commented on #654
Thank you for your attention to this matter & providing a quick
response. I will discuss with my senior about your reply & will revert
back when if required.

regards.

Quoting Anthony Voellm aka Tony the P3rfguy <notifications@github.com>:

[2015-11-19 16:55] noahl commented on #436
To solve the problem Kris pointed out about benchmarks having different runtimes, maybe we could separate the notion of a "workload" and a benchmark, and say that a "workload" is something that can run for any amount of time and always runs on a single VM. In any PKB run, you could have one benchmark (which would determine the overall runtime) and any number of workloads. You'd do something like `

[2015-11-19 18:01] ehankland commented on #624
@kivio We recently made some changes that might be what you are looking for - the providers dict is gone from benchmark_spec.py and we do only load providers when they are used now. Can you take a look to see if there's more you wanted done?

[2015-11-19 18:36] ehankland commented on #257
Looks like the above PR fixed this. Closing

[2015-11-19 18:36] #257 closed

[2015-11-19 19:15] ehankland commented on #409
Above PR fixes this

[2015-11-19 19:15] #409 closed

[2015-11-19 19:33] skschneider opened #655 "AWS default zone does not support subnets"
A client error (InvalidParameterValue) occurred when calling the CreateSubnet operation: Value (us-east-1a) for parameter availabilityZone is invalid. Subnets can currently only be created in the following availability zones: us-east-1b, us-east-1c, us-east-1d, us-east-1e.

[2015-11-19 19:37] ehankland commented on #655
Works for me:
[code]
The issue is that AWS zones are not the same across accounts. See this:
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html
The key bit is "Note that there's no way for you to coordinate Availability Zones between accounts."

[2015-11-19 19:45] skschneider commented on #655
I see. I'm trying to see if there's a way to pick a better default. If I run "aws ec2 describe-availability-zones", it doesn't even list us-east-1a. Maybe picking a value from that list could be enough.

[2015-11-19 21:47] ehankland commented on #655
I've seen at least one issue where people have tried to pass PKB an AWS region instead of a zone. I'd like to make it work either way -  this would also fix this problem because we could make the default "zone" us-east-1

[2015-11-19 23:34] ehankland commented on #109
Fixed by above PR

[2015-11-19 23:34] #109 closed

[2015-11-20 00:54] ehankland commented on #303
I think this was fixed in https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/614 . Please reopen if this doesn't satisfy your requirements

[2015-11-20 00:54] #303 closed

[2015-11-20 08:11] mateusz-blaszkowski commented on #602
Thanks for the fix! I tried to re-run the benchmark (it takes a long time to complete) and almost at the end if failed, but the log file size was ~200MB. It looks much better but I think that adding a possibility to provide also warning/error level would be reasonable. Load average decreased to ~0.4 so it's also an improvement.

[2015-11-20 08:19] mateusz-blaszkowski commented on #564
Thank you for the instructions, sounds good. I may implement the solution for both K8S and Mesos, but I need to finish the Mesos driver first.

[2015-11-20 18:58] ehankland commented on #296
Fixed by above PR

[2015-11-20 18:58] #296 closed

[2015-11-20 21:16] noahl commented on #284
The disk types refactor was merged in #599. Closing this for now. Please reopen if there is more to do.

[2015-11-20 21:16] #284 closed

[2015-11-21 02:20] voellm commented on #513
Official logos are now checked into the gh-pages branch here - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/gh-pages/img

Thanks @yangsophia  for driving these!

[2015-11-24 18:32] skschneider opened #668 "Convert disk specs to allow decoders."
#664 introduces decoders/verifiers for vm specs. Disk specs should have this ability too.

Perhaps create a base spec class inherited by both.

[2015-11-24 18:35] ehankland commented on #655
This should be fixed by the above PR (since there is no longer a default zone, just a default region).

[2015-11-24 18:35] #655 closed

[2015-11-24 18:40] ehankland commented on #493
Above PR allows you to specify regions as well as zones for AWS

[2015-11-24 18:40] #493 closed

[2015-11-24 19:22] hildrum opened #671 "Maintain lists of supported benchmarks for each cloud provider"
Each cloud provider should maintain a list of benchmarks supported.

When a run of PerfKit Benchmarker is started, only the benchmarks supported by the provider will be run.  The skipped benchmarks will be reported.

I don't currently see a natural place for this in the provider-specific files, so perhaps a new properties.py in the provider directory could contain this information.

[2015-11-26 06:21] skschneider commented on #668
The plan here is to introduce a BaseSpec object w/ #664. This also introduces features that make it easy for a spec's ConfigOptionDecoder to construct a sub-spec object from a decoded yaml object.

Next, in a separate PR, the BaseDiskSpec will be modified to also derive from BaseSpec and use ConfigOptionDecoders.

In the future, larger pieces of the yaml post-parsing verification process can be wr

[2015-11-30 18:26] #491 closed

[2015-11-30 18:28] ehankland opened #682 "RELEASE: v1.0.0"

[2015-11-30 21:42] #646 closed

[2015-11-30 21:42] noahl commented on #646
This has been released.

[2015-12-01 11:02] mateusz-blaszkowski opened #686 "Downloading packages via curl is unstable."
`hadoop_terasort` benchmark during prepare stage downloads Hadoop archive via curl. It's a pretty big package (141M) and many times I have encountered an issue with a broken connection like this:

[code]

It causes the benchmark to fail. I may try to re-run the benchmark and I've got like 15% of changes that archives in all the instances will be downloaded correctly. I would propose to switching t

[2015-12-01 14:43] voellm commented on #686
Do you want to create a pull request or should we take an overall pass?

On Tue, Dec 1, 2015 at 3:02 AM, Mateusz Blaszkowski <
notifications@github.com> wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenc

[2015-12-01 19:00] voellm commented on #671
@mateusz-blaszkowski - Is there a set of "known" working benchmarks for OpenStack/Kubernetes?   Any not working as intended?

@syed -  Is there a set of "known" working benchmarks for CloudStack?   Any not working as intended?

@hicrazyboy  -  Is there a set of "known" working benchmarks for AliCloud?   Any not working as intended?

@meteorfox - Is there a set of "known" working benchmarks for Rac

[2015-12-02 08:40] mateusz-blaszkowski commented on #671
There is a `kubernetes_set` with a list of benchmarks that worked well on K8S:

[code]

Unfortunately I can't verify which benchmarks were working on Openstack cloud. @kivio - do you have a list of working benchmarks for OS?

[2015-12-02 08:42] mateusz-blaszkowski commented on #686
It would be great if you could take an overall pass. Thanks!

[2015-12-02 18:14] ehankland commented on #235
@voellm I'm planning on branching soon for the release, and I don't think this has been worked on. Should this get pushed back again?

[2015-12-02 18:28] voellm commented on #235
This is actually being fixed by @hildrum and tracked in issue - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/671

We can pass on this for V1.0.0.  Good addition however for the next release

[2015-12-02 18:28] #235 closed

[2015-12-02 19:43] meteorfox commented on #654
OpenStack includes a service called Swift to provide an object storage as a service. I believe it can even emulate a subset of AWS S3 API. Perhaps support for this could be contributed to support such benchmark in OpenStack.

[2015-12-02 20:06] ehankland commented on #512
Considering this closed thanks to @cmccoy 's PRs. We still will need to address better defaults, but multi node benchmarks have sane configs now

[2015-12-02 20:06] #512 closed

[2015-12-03 22:48] stfeng opened #693 "Add documentation for the new Disk flags and usage"
Please add documentation to FAQ on WIKI regarding how to use the new disk-related flags, give examples for:

1. Create and use local SSDs on GCP, AWS, and Azure to run one of the NoSQL benchmarks.

2. Create and use "remote" disks on GCP, AWS, and Azure to run the FIO test.

And then link the FAQ/wiki page from the "./pkb.py --help" text.  (To add content to the --help text, look at existing code

[2015-12-03 22:51] stfeng commented on #693
@yuyantingzero Do you have an example command for using local SSD on GCP with NVME? We'd like to have that as an example in the document (right, the NVME interface, not the scsi). Thanks!

[2015-12-03 23:15] yuyantingzero commented on #693
./pkb.py --benchmarks=fio --scratch_disk_type=local --gce_num_local_ssds=4 --num_striped_disks=4 --machine_type=n1-standard-32  --image_project=gce-nvme --image=nvme-backports-debian-7-wheezy-v20150423;

This command should be complicated enough to demonstrate :)

[2015-12-03 23:22] stfeng commented on #693
Nice, thanks! ;)

On Thursday, December 3, 2015, yuyanting <notifications@github.com> wrote:

[2015-12-04 08:11] kivio commented on #671
@mateusz-blaszkowski @voellm - i have list of working benchmarks but from release 18.x, I haven't currently environment to test newest version of PKB

[2015-12-04 15:51] voellm commented on #671
We can go with "it works" until proven not to or err on know is known.  Any
preference?

[2015-12-07 09:14] kivio commented on #671
@voellm  Ok, we can assume "it works" for all. I want to test it in nearby future.

[2015-12-07 09:16] kivio commented on #671
Another thing - OpenStack driver is currently implemented and tested just for Ubuntu image.

[2015-12-07 23:41] ehankland opened #696 "Failed cloudsuite_web_serving"
One run of cloudsuite_web_serving ultimately failed with this:
[code]
Before that, there were many messages that looked like this:
[code]
And before that many of these:
[code]
I was running with these flags:
[code]
Another run using the same flags passed, so this doesn't happen every time

[2015-12-08 00:01] voellm commented on #696
@rmend016
@Vukasin92

Can one of you look into this?  Have you seen this issue before?

[2015-12-08 00:14] ehankland opened #697 "aerospike_ycsb run failed"
Got this error message:
[code]
Looks like a problem copying files to the VM - a simple retry may fix this. It's also possible that the VM was already stopped because we set `--maintenance-policy TERMINATE` when we create them. A similar run passed, so this is just a flakiness issue.

[2015-12-08 00:17] ehankland commented on #697
Same thing happened with cassandra_ycsb

[2015-12-08 00:24] ehankland opened #698 "cloudsuite_websearch failure"
I got this error:
[code]
I ran with these flags:
[code]

[2015-12-08 00:32] voellm commented on #697
@cmccoy  - Can you see if there is a quick fix?

[2015-12-08 00:33] voellm commented on #698
@rmend016
@Vukasin92

Can one of you look into this? Have you seen this issue before?

[2015-12-08 00:59] cmccoy commented on #697
Sure. The instances weren't terminated. I'll add a retry.

[2015-12-08 01:03] cmccoy commented on #697
Opened #699. Testing now.

[2015-12-08 06:30] Vukasin92 commented on #698
Does it happen every time? I checked files here http://lsi-www.epfl.ch/parsa/search.tar.gz (if you haven't seen them, take a look, there is the implementation of faban driver), and it seems that faban driver failed to get context (and instead returned NULL) which raises an exception. But have no idea why it happened. I will see if someone who is currently at epfl can take a look also.

[2015-12-09 06:40] ctlaltlaltc opened #701 "redis failure"
[code]

[2015-12-09 16:18] cmccoy commented on #701
It looks like no requests succeeded between the client and server. What provider were you using? If you were using static machines, was there connectivity between them?

I've opened #702 to make the error message a bit clearer.

[2015-12-09 23:17] voellm commented on #701
Marking this a P2 because we are planning to deprecate this in favor of redis_ycsb.  We will keep this around but the fix is not as hit a pri.

[2015-12-09 23:20] voellm opened #704 "Refactor config.yaml to move all provider specific pieces into the provider directory"
Today we have a single master config file
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/master/perfkitbenchmarker/configs
that lists a default machine type per cloud.  This central file is a little hard to discover and creates a serialization point of changes for providers.

I'd like to refactor this file into one file per provider and leave any truly global config in config.yaml

[2015-12-09 23:40] ehankland commented on #704
The single file makes it easy to define equivalence classes across clouds - for instance something we may want to do is make the default disks have the same number of advertised iops (rather than just being the same size). Having a file per provider would make it harder to do this since it will be less clear what the intent is if they are all in different places and defining a new "class" would me

[2015-12-10 00:01] voellm commented on #704
I did think about the equivalence classes but figured we could make this an
"output" from PKB like ./pkb.py --print_default_configs

[2015-12-10 16:06] cmccoy opened #708 "PKB exits with status 0 even when all benchmarks fail"
It should exit with a non-zero exit code whenever any of the benchmarks specified failed to execute.

[2015-12-10 18:13] noahl opened #709 "Make filesystem creation more robust"
Right now, linux_virtual_machine.py unmounts the data disk from /mnt, then creates a filesystem on it in a retry loop before mounting on /scratch. The desired behavior is for the unmounting from /mnt to be part of the retry loop.

This will fix an issue on Azure D-series VMs where the unmount is tried before the disk is ready and fails, then the disk comes up and is mounted on /mnt, and then we tr

[2015-12-11 09:12] mateusz-blaszkowski commented on #708
I'm sorry! - I've closed this by mistake while reading the issue. I just wanted to add that I had noticed this a day before the issue appeared ;) In our case we created the wrappers which execute the test in a loop with different parameters. I wanted to re-run the benchmark if it failed but I realized the return code is always 0. I'll be happy to verify the fix when it's ready!

[2015-12-11 17:06] Capstan opened #711 "Getting started page is trucated"
http://googlecloudplatform.github.io/PerfKitBenchmarker/getting-started#integration-testing terminates abruptly. If this is pulled from README.me, that looks fine, so maybe there's something odd about its excerpting?

[2015-12-11 17:37] skschneider opened #712 "Add tags to AWS instances"
http://docs.aws.amazon.com/cli/latest/reference/ec2/create-tags.html#examples

Add additional metadata about why the machine was created (e.g. benchmark, owner)

[2015-12-11 17:44] skschneider commented on #712
Whoops, already added a while ago in aws/util.py

[2015-12-11 17:44] #712 closed

[2015-12-11 19:06] cmccoy commented on #708
@mateusz-blaszkowski  - no problem!
Fix in #713, if you want to test it out.

[2015-12-11 19:07] #708 closed

[2015-12-12 01:43] skschneider opened #716 "Create a version of test.mock_flags.PatchFlags that can be used in setUp."
Allow the patch start/stop to be used. Prevents need for a ```with``` in each test.

[2015-12-13 23:02] zbjornson opened #717 "cluster_boot seems to over-report boot time"
The [code docs say that cluster_boot reports how long it takes for a VM to become responsive to SSH](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/c1e4945ad34bd47c409ebb55d538d22f5463a643/perfkitbenchmarker/benchmarks/cluster_boot_benchmark.py#L48), but I experience much faster ssh response times for GCE than PKB is reporting.

PKB for gcloud:
[code]

Manually:
[code]

49 to 52 se

[2015-12-14 06:10] zbjornson opened #718 "object_storage_service benchmark quantiles should be symmetrical"
The summary output for object_storage_service lists p1, p5, p50, p90, p99 and p99.9, which is great for metrics where lower is better (e.g. latency) because you can see with good resolution how long the tail is, but for metrics where higher is better (e.g. throughput) there's less data around the "bad" side of the tail. Would be nice to have p0.1, p1, [p5,] p10, p50, p90, [p95,] p99, p99.9.

[2015-12-14 15:19] cmccoy commented on #494
Closing as stale. Let us know if you're still having issues.

[2015-12-14 15:19] #494 closed

[2015-12-14 15:22] cmccoy commented on #717
Thanks for reporting this. For GCP: right now I believe the network creation is not included in the reported time, but creating a firewall rule to allow SSH access is, which is causing these numbers to appear higher. I'll check into it.

[2015-12-14 16:45] cmccoy commented on #697
Closed by #699.

[2015-12-14 16:45] #697 closed

[2015-12-14 16:45] #682 closed

[2015-12-14 17:29] voellm commented on #718
Would you like to take this on in terms of adding the metrics?  We can also do it.

[2015-12-14 17:31] voellm commented on #711
Thanks for letting us know.

[2015-12-14 17:31] voellm commented on #711
P0 = Will fix ASAP.

[2015-12-14 18:10] yangsophia commented on #711
Good catch, there were some words left behind during copy paste... Sorry about that. It is fixed now. Close by 7fe557883d959fafc1b4b7c69ffc6cb53e10a0c6

[2015-12-14 18:10] #711 closed

[2015-12-14 18:40] zbjornson commented on #718
I'm happy to do it. Will work on it today.

[2015-12-14 20:32] meteorfox opened #723 "GCE Flags Error causing unit tests to fail"
I pulled the latest commits from master, and currently I'm getting 2 unit tests errors which is blocking my commits since I have the pre-commit hook setup.

Here's a link to stack traces:

https://gist.github.com/meteorfox/64934edbc07733a0ba53

[2015-12-14 20:36] meteorfox commented on #723
According to git blame

[code]

It looks it comes from one of @skschneider commits, but it could be a side effect of another change.

Thanks ahead of time!

[2015-12-14 22:08] skschneider commented on #723
This is likely because #695 was merged between the time I opened and submitted #675, and the tests weren't rerun. I will work on a fix.

[2015-12-14 23:05] skschneider commented on #723
#724 has been submitted. tox and hooks/check-everything are clean on master.

[2015-12-14 23:06] #723 closed

[2015-12-14 23:58] zbjornson commented on #717
Thanks for doing that so quickly. Numbers look better.

[2015-12-15 01:15] skschneider commented on #717
Considering #722 was reverted by #725, should this be reopened?

[2015-12-15 01:16] cmccoy commented on #717
Definitely. I'm working on this now.

[2015-12-15 04:06] meteorfox commented on #723
Thanks!

[2015-12-15 05:56] #718 closed

[2015-12-15 08:33] mateusz-blaszkowski commented on #708
I've verified the fix works as expected, thanks!

[2015-12-15 22:45] noahl opened #735 "Windows installation got a lot harder recently"
Adding paramiko to the requirements.txt file means that we need to build pycrypto when installing dependencies, which means that the user needs Visual C++ installed to build PKB on Windows. We should either document this new requirement or change it. (paramiko is only required for AliCloud, and since we lazy-load providers, you don't actually need to install it unless you want to use AliCloud from

[2015-12-16 05:34] zbjornson opened #739 "object_storage_service consistency tests don't match perfdiag"
I'm trying to check that the object_storage_service benchmark's list-after-write consistency result is correct. It's reporting a surprisingly low consistency for GCS after 300 seconds (the timeout) -- between 78 and 82%, which also doesn't seem to (always) match up with the latency percentiles:

[code]

(I don't get how 99.9% of objects could be consistent by 1.24 seconds but only 80% are consiste

[2015-12-16 05:41] voellm commented on #739
@stfengto comment more.

Perfdiag does not actually write or read data.  Hit the equivalent of
/dev/null.
On Dec 15, 2015 9:34 PM, "Zach Bjornson" <notifications@github.com> wrote:

[2015-12-16 05:43] voellm commented on #739
I'm talking the remote end is like /dev/null.  Perfdiag does contact GCS
and send data to the service just it is never persisted.

[2015-12-16 06:00] zbjornson commented on #739
Not quite following that comment, but can wait for @stfengto to comment more.

Also just figured out that "list-after-xxx consistency percentage" is not the *number* of files that are inconsistent, but the number of iterations that have *any* files inconsistently listed... I think.

[2015-12-16 18:16] voellm commented on #739
Now that I have a real keyboard...

Sorry I created some confusion here.  Let me start with the "list after
write consistency".  The number is indeed the percentage of files vs number
of files.

On Tue, Dec 15, 2015 at 10:01 PM, Zach Bjornson <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http:/

[2015-12-16 18:35] noahl commented on #739
Fix the mention to @stfeng . He's on vacation, though, so I don't know when he'll be able to respond.

[2015-12-16 18:50] stfeng commented on #739
@zbjornson

Yes for this: ""list-after-xxx consistency percentage" is not the number of files that are inconsistent, but the number of iterations that have any files inconsistently listed"

Basically we write 5000 objects very quickly, and then do a list, if the provider returns all objects at the first try, we call it consistent, if anything is missing, we call it inconsistent. We repeat this 200

[2015-12-16 18:59] zbjornson commented on #739
Thanks all, and thanks @stfeng for replying while on vacation.

Good to know that the criteria for "consistent" is based on the **first** try. That seems pretty stringent, and mostly explains why the number is lower than I'd expect.

[2015-12-16 18:59] #739 closed

[2015-12-16 19:00] zbjornson commented on #739
Might be good to rename that to "list-after-write consistency on first LIST" and make the unit "%" instead of "na"... If you agree I can make a PR for that.

[2015-12-16 19:12] voellm opened #740 "Add a flag to specify the network to use vs always creating a one per benchmark"
Different cloud have different limits on the number of networks (VPCs).  We should allow them to be reused across benchmarks.

[2015-12-16 19:13] voellm commented on #740
@ehankland
@cmccoy
There are two ways to look at this.  Make this generic across all providers and one flag for the override or have a flag specific to each provider.

Any thoughts on which is better?  I learning to the former.

[2015-12-16 19:17] voellm commented on #739
Name changes to metrics are a breaching change and the process is to have
both metrics for a period of time before removing the older metrics.

I am all for additional comments in the code.

[2015-12-16 19:20] stfeng commented on #739
You are welcome!

As to the metric names, the definition of a (strongly) consistent behavior is such that the first try must return all expected results. Therefore I believe the current metric name "list-after-write consistency" already implies the list must be the first operation, adding an additional word "first" would be redundant.

As to using the unit "%", I am on the fence here. since the na

[2015-12-16 20:03] zbjornson commented on #739
Yea, but it doesn't say "strongly" :). No strong preference, and changing the unit was only to save space in the metric name if the metric name were to become longer. Alternatively, it would be great to start a wiki page explaining what the metrics do, or make the usage text more thorough (which is maybe what @voellm means). (No rush on this at all -- please enjoy your vacation!)

[2015-12-16 20:27] noahl opened #741 "disk.GetDevicePath() doesn't work on Windows"

[2015-12-16 21:17] voellm opened #742 "Common exceptions should not be errors"
When booting some VM that delay reporting IP address the following happens;
2015-12-16 13:16:05,973 be99a21b Thread-18 cluster_boot(1/1) ERROR    Got exception running _PostCreate: 'PublicIpAddress'

This is not be an error because its not a failure.

[2015-12-16 22:24] ehankland commented on #740
I'd like to make this generic, but some differences between providers are going to make this complicated. On AWS, we need a subnet to create VMs and a security group to open ports. On GCP, we just need the network name for both.  On Azure we need an affinity group and a virtual network in order to create VMs. The "network" is not just a single resource on many providers.

[2015-12-16 22:55] jldiaz opened #744 "Hadoop in Azure stuck in ACCEPTED state"
I ran

[code]

When the script finally reached the point in which it invokes `yarn` to run TeraGen, it got stuck for hours wating it to end.

I logged via ssh in the master machine and used `yarn` to discover that, the TeraGen application was ACCEPTED but still not RUNNING after 11hours.

No idea about what the issue could be. Insufficient memory? Which instance type is required as minimum to run

[2015-12-16 23:31] skschneider opened #745 "Clean up os_type use."
There are a few places where we check the --os_type flag that aren't compatible with the benchmark config "os_type" option. Considering OS type is a property of a VM, we should also look into allowing this to be set separately per VM group.

os_type constant definitions are also repeated in scattered locations, and these should be cleaned up.

[2015-12-16 23:53] ehankland commented on #744
Thanks for reporting this. The current configuration requires at least 3GB of memory per machine (see https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/data/hadoop/mapred-site.xml#L27). I think this was likely copied from the setup instructions here: https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/ClusterSetup.html

It shouldn't be ha

[2015-12-17 00:58] voellm commented on #740
Then maybe we should special cause for GCE for the time being?  AWS we have one VPC per region today.

[2015-12-17 06:57] voellm opened #749 "" sudo apt-get update" is called even when there is nothing to install"
It looks like VM's will " sudo apt-get update" even when there is nothing to install.  This is most notable on  the cluster_boot benchmark.

It seems like this should be deferred until and actual install is requested.

[2015-12-17 07:10] zbjornson opened #750 "Why are buckets for regional latency testing DRA?"
(Another low-priority question/potential change proposal.) It's great that object_storage_service compares multi-region and regional buckets, but why is the regional bucket DRA? From about a dozen tests I can't find a consistent difference in performance, but it adds another variable.

[2015-12-17 14:57] voellm commented on #750
@stfeng
@noahl

[2015-12-17 15:01] voellm commented on #735
Its only harder if you want to use Alicloud.  It is not impacted otherwise.  So that feature and the complexity go together.

There are lots of threads on StackOverflow on how to install paramiko on Windows.  Here is one such example - http://stackoverflow.com/questions/2964658/installing-paramiko-on-windows

[2015-12-17 15:03] voellm commented on #749
Maybe I'll take this one on.  The reason I opened it is I've seen a number of instances where boot stall because apt-get is failing.  Then either the benchmark fails or finished with a skewed value.

[2015-12-17 15:04] voellm commented on #462
Is there an update on this?

[2015-12-17 15:07] voellm commented on #197
These benchmarks have been completely reworked since this time and best I can tell this issue no longer exists.

[2015-12-17 15:07] #197 closed

[2015-12-17 15:07] cmccoy commented on #749
A skewed value for boot time? Updating packages isn't included in the boot time reported, though it of course affects end to end time.

[2015-12-17 15:09] voellm commented on #298
We have eliminated the feature of running multiple benchmarks in parallel in favor of using OS features like background processes and the parallel command (http://www.gnu.org/software/parallel/).

So at this point parallelism is left to the user.

@skschneider Is you disagrees with this resolution here please reopen.

[2015-12-17 15:10] voellm commented on #533
Ping ... is this still and open issue not that the disk refactor is in?

[2015-12-17 15:10] voellm commented on #559
@yuyantingzero  @noahl - Is this still an issue?

[2015-12-17 15:14] cmccoy commented on #749
If it's failing it's worth fixing soon. I decreased the priority because:

* AFAIK cluster boot is the only affected benchmark.
* Some providers don't bill exactly by the minute - GCP bills a minimum of 10, AWS in 1 hour increments, so we're not increasing cost in all situations.

I'm happy to fix.

[2015-12-17 15:23] voellm commented on #606
No follow-up from that community so I'm going to close this out.  Looks that that project is pretty stale.

[2015-12-17 15:23] #606 closed

[2015-12-17 15:25] voellm commented on #671
With the pull request complete is this feature complete?  If so please close.

[2015-12-17 15:25] voellm commented on #704
@hildrum
@cmccoy

Adding a few others to comment.

[2015-12-17 15:28] voellm commented on #24
We have checked in TomCat+Wrk.  Here is the benchmark - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/linux_benchmarks/tomcat_wrk_benchmark.py

We also have EPFL CloudSuite Web Serving as well - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/linux_benchmarks/cloudsuite_web_serving_benchmark.py

[2015-12-17 15:28] #24 closed

[2015-12-17 15:29] voellm commented on #40
Documented here - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/Can-I-run-PerfKitBenchmarker-on-my-local-machine-or-data-center%3F

[2015-12-17 15:29] #40 closed

[2015-12-17 15:30] voellm commented on #65
This feature is added.  Use --dstat as seen here - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/c1e4945ad34bd47c409ebb55d538d22f5463a643/perfkitbenchmarker/traces/dstat.py

[2015-12-17 15:30] #65 closed

[2015-12-17 15:32] voellm commented on #204
This benchmark has been reworked by @yuyantingzero  and @cmccoy.  We also now have cassandra_ycsb

Is this still relevant?  Is so please reopen and explain what will be done.  Thanks!

[2015-12-17 15:32] stfeng commented on #750
Great question! At the time when this benchmark was written, it was
required to use DRA storage class for GCS regional bucket, hence the code.
I think such restriction has just recently been removed, so we should
change our code accordingly.

I will be back in a few days and make such change, if you'd like to get
this sooner, please feel free to submit a pr after testing and
verification. @noahl s

[2015-12-17 15:33] voellm commented on #185
We have FIXED a ton of issue since this was reported.  We hope you like all the improvements.

[2015-12-17 15:33] #185 closed

[2015-12-17 15:33] voellm commented on #184
@noahl  - Is this still open with all the fio changes?

[2015-12-17 15:34] voellm commented on #169
@cmccoy - Is this fixed?  If not please reopen.

[2015-12-17 15:34] #169 closed

[2015-12-17 15:35] voellm commented on #172
There have been a number of improvements around fio which I believe address this.  If not please reopen.

[2015-12-17 15:35] #172 closed

[2015-12-17 15:35] cmccoy commented on #204
This is still relevant. If we want to revert to the defaults, we should remove [these customizations](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/data/cassandra/cassandra-env.sh.j2#L255-L258).

[2015-12-17 15:36] voellm commented on #134
At this point we have docker workloads, kubernetes, and meso all part of PKB.

@meteorfox - Think is this addressed?

[2015-12-17 15:36] #103 closed

[2015-12-17 15:37] cmccoy commented on #169
Though not configured by default, the YCSB tests can run with a set target QPS and latencies including queueing time.

I haven't modified the benchmark to use this by default because there would be some work required to combine results across client VMs, which I don't think I'll have time to do anytime soon.

[2015-12-17 15:38] voellm commented on #131
This ship as sailed with V1.0.0... lets be consistent with new flags in the future.

[2015-12-17 15:38] #131 closed

[2015-12-17 15:39] voellm commented on #139
@ehankland - What is the state of this?

[2015-12-17 15:41] voellm commented on #144
Do we still want to do this?  There was a new bug open that is similar https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/issues/744

@ehankland FYI since you have bug 744

[2015-12-17 15:42] voellm commented on #186
We have was over 10 providers in PKB.  Know of anyone at Softlayer that can take this on?

[2015-12-17 15:42] voellm commented on #196
Done ... we have two and a plan for the others.
Web Search
Web servicing

[2015-12-17 15:42] #196 closed

[2015-12-17 15:43] voellm commented on #478
I've seen some work that on this.
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/master/perfkitbenchmarker/windows_benchmarks

[2015-12-17 17:36] hildrum commented on #671
Closing, as it is complete.  Please reopen if something is missing.

[2015-12-17 17:36] #671 closed

[2015-12-17 17:40] ehankland commented on #139
We still use one service per VM. I was waiting to hear back to see if there was a better way of doing things.

[2015-12-17 17:45] timothyeharris commented on #139
I have not gotten any "preferred" advice from engineering (and due to organizational changes, am no longer working on this project).  Sorry :(

Sent from Outlook Mobile<https://aka.ms/qtex0l>

On Thu, Dec 17, 2015 at 9:41 AM -0800, "ehankland" <notifications@github.com<mailto:notifications@github.com>> wrote:

We still use one service per VM. I was waiting to hear back to see if there was a better

[2015-12-17 18:05] skschneider commented on #298
I don't think this is related to that. This is when we use a helper function to run a command in a new local process. For example, if I need to run a gcloud command.

[2015-12-17 18:08] zbjornson commented on #750
Thanks for the explanation. Would it be too disruptive/breaking to (1) remove the "regional ___" tests, (2) add a command-line option --bucket_location and (3) add a command-line option --storage_class? Last night I was editing the code to change the bucket location. The above changes would allow you to run the full benchmark (latency, throughput, consistency) for any class, any location. Right no

[2015-12-17 18:13] cmccoy commented on #704
I agree with @ehankland about the benefits of defining VM types next to one another.

[2015-12-17 18:15] stfeng commented on #750
Yep, I think it's a good idea, but let's make sure we do the "add" steps
first (your points 2 and 3 below), and only do the removal step (your step
1) a few weeks after the new functionalities are merged and released. This
is typically what we do when we introduce a breaking change. (Removal of
the regional tests is a "breaking" change).

On Thursday, December 17, 2015, Zach Bjornson <notification

[2015-12-17 18:38] noahl commented on #741
This has been resolved by #743 .

It doesn't make GetDevicePath() work on Windows, because that doesn't seem to make sense, but it adds a GetDeviceId() method that does make sense on Windows and implements it.

[2015-12-17 18:38] #741 closed

[2015-12-17 18:41] noahl commented on #735
The problem is that if you do 'pip install -r requirements.txt', it will automatically install paramiko. I had to figure out what the problem was and manually edit my requirements.txt to fix it, but I don't think that's reasonable for a non-PKB-developer. Ideally we would let you install PKB without paramiko and just complain if you tried to use Alicloud. I think it's doable.

[2015-12-17 18:44] cmccoy commented on #735
Let's split out `requirements.txt` into core requirements (required to run PerfKitBenchmarker) and individual files for cloud providers with additional dependencies.

[2015-12-17 18:46] noahl commented on #184
This is still open. I think the only solution that will work for all of our use cases is job files (and they're also more readable!), but I haven't converted the block_storage_workloads_benchmark yet. I want to take a broader look at whether fio_benchmark and block_storage_workloads_benchmark can share more common infrastructure than they do right now.

[2015-12-17 18:52] noahl commented on #478
I'm working on this right now. My branch is https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/fio-on-windows.

[2015-12-17 19:03] skschneider commented on #716
Addressed in #730

[2015-12-17 19:03] #716 closed

[2015-12-17 19:15] noahl commented on #750
I already have code for making buckets in specific regions. We decided to hold off on merging because I didn't have time to do in-depth testing of the AWS endpoints. But seeing as we now have a request for it, I would like to merge at least the GCS and Azure bits. AWS is up to you.

@zbjornson this should make your life a little bit easier. My code would only solve your point 2. You would still ha

[2015-12-17 19:16] cmccoy commented on #717
Re-fixed :)

[2015-12-17 19:16] #717 closed

[2015-12-17 19:32] cmccoy opened #754 "Improve error messages for Azure disk / storage account type interaction"
There's a [failed assert](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/69d253b355b5f3581100e20381123d8e6ed21059/perfkitbenchmarker/providers/azure/azure_disk.py#L108-L111) when using Azure premium (SSD) disks without a premium storage account. Asserts should be used to confirm invariants, not check user input. Could we make that a bit more friendly?

[2015-12-17 19:35] cmccoy commented on #754
(and, generally, all asserts should have a message associated with them)

[2015-12-17 19:51] noahl commented on #750
@zbjornson just talked offline with @stfeng . It will be easier if one person does the whole change. If you want to do it, you can use my code in #609 as a starting point. If you can wait, we have plans to work on a related change in Q1 of next year, which will include adding a `--storage_region` flag and could easily include a `--storage_class` flag as well.

[2015-12-17 20:01] cmccoy commented on #735
The default requirements.txt no longer introduces any dependencies that require a compiler toolchain.

[2015-12-17 20:01] #735 closed

[2015-12-17 21:25] #749 closed

[2015-12-17 21:45] noahl commented on #631
After learning a lot more about PKB's disk creation mechanism, I think this is not actually an issue. While you can allocate a disk with `--gcp_num_local_ssds`, disk specs are actually created based on the benchmark spec, not the command-line flags passed. Closing this bug.

[2015-12-17 21:45] #631 closed

[2015-12-17 21:47] hildrum commented on #704
I agree with @ehankland.  I'd like to keep provider-specific info with the providers, but it sounds like yaml's limitations means this is more complex that just splitting up that file in the configs directory.

[2015-12-17 22:04] voellm commented on #704
Sounds good... closing the issue.

[2015-12-17 22:04] #704 closed

[2015-12-17 22:15] meteorfox commented on #533
@voellm Yes, this is still an issue. It's not related to the disk refactor. Benchmarks that make use of remote volumes are not working, a temporary workaround is to use an older Nova client, instead of installing latest with `pip`. I expect something similar to happen soon to the OpenStack provider bindings as well since we are using the `python-novaclient` library which has deprecated the same vo

[2015-12-17 23:17] noahl commented on #709
Fixed by #757

[2015-12-17 23:17] #709 closed

[2015-12-18 16:46] meteorfox commented on #654
@voellm @debabhatt Can we close this issue? Support for OpenStack Swift has been merged for the OpenStack bindings. Please see PR #738 for more details.

[2015-12-18 17:02] meteorfox commented on #452
I think this is addressed on #759. For flavors that only provide their root disk for storage, it doesn't get rid of the scratch disks, but instead creates a disk representing the `/` partition, and gives an empty directory as the mount point. It also makes sure that I cannot be formatted, so the Aerospike benchmark wouldn't work, since it needs the raw blk device path. Also, I made it such that is

[2015-12-18 17:07] debabhatt commented on #654
Ok. sure , since support for Openstack Swift has been added ( as per PR #738 ) so we can  certainly close the issue. we may revert back again if any further issue arises in this regard.

Thank you.

[2015-12-18 18:23] meteorfox commented on #654
Thanks!

[2015-12-18 18:23] #654 closed

[2015-12-18 22:03] ehankland opened #761 "Problem running on Windows VMs"
Running any benchmark with Windows VMs gives me this error:
AttributeError: 'WindowsGceVirtualMachine' object has no attribute 'PrepareBackgroundWorkload'

[2015-12-21 15:09] mateusz-blaszkowski opened #765 "Hadoop hangs because it cannot reach other instances by hostname"
The symptom is very similar to the ones described in #142 and #744. I have set the `terasort_num_rows` to the small number (like 1000) so that I can exclude the problem with long-lasting generate/sort process. The memory threshold is also high enough (like 32 or 64GB). The benchmark hangs on the teragen phase (`/tmp/pkb/hadoop/bin/yarn jar /tmp/pkb/hadoop/share/hadoop/mapreduce/hadoop-mapreduce-ex

[2015-12-21 15:30] cmccoy commented on #765
On GCE, every instance in a network is reachable by hostname.  Same on AWS, if the [VPC is configured with DNS hostnames](http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/vpc-dns.html#vpc-dns-updating).

This seems to be a general Hadoop requirement (see the [Cloudera docs](http://www.cloudera.com/content/www/en-us/documentation/cdh/5-1-x/CDH5-Installation-Guide/cdh5ig_networknames_configure.

[2015-12-22 09:44] jldiaz opened #766 "`./pkb --helpxml` fails"
Aiming to create a nicely markdown formatted documentation for all `pkb` options, I thought a good idea would be to start from `--helpxml`, but it fails with error:

[code]

I think the problem happens when flags from module `flags_util.py` are being processed (perhaps because of the `IntegerListSerializer` serializer)

[2015-12-22 15:52] stoor opened #769 "OpenStack nova error with multi region deployment."
Hi,

First Thanks you very much for PrefKit!

I am having some problem on my multi-region based cloud setup. NOVA client works fine with multiple regions:

--------- salman -----------
export OS_USERNAME=
export OS_PASSWORD=
export OS_TENANT_NAME=
export OS_PROJECT_NAME=
export OS_REGION_NAME=
export OS_AUTH_URL=http://keystoneURL:5000/v2.0
--------------------------------
ubuntu@prefkit-test:~/pe

[2015-12-22 16:22] cmccoy commented on #769
cc @kivio, @meteorfox

[2015-12-23 03:40] meteorfox commented on #769
@cmccoy I'll take a look.

[2015-12-23 04:53] meteorfox commented on #769
@stoor Please try this PR, I don't have a multi-region deployment to test it, but I believe it should address your issue. You can either use the env variable `OS_REGION_NAME`, or pass it as a flag `--openstack-region`

Also, a few tips:

- Always specify the flags `--machine_type`,  `--image`, `--openstack_public_network`, and `--openstack_private_network` unless the default values matches what yo

[2015-12-23 09:16] paolelw opened #771 "How to benchmark LB services using PKB"
Dears, please how to benchmark a load balance service using perfKit? Is there any well-known industry benchmark which could be integrated into perfKit? Thanks very much.

[2015-12-23 10:03] kivio opened #773 "OpenStack zones for volume"
Current OpenStack driver where i use boot_from_volume option use VM zone name for volume - this not work because volume zones is other thing that VM zones if you want to use specified zones.

[code]

We wan't to change it to create volume in disk zone and give this volume for booting there VM.
We need to add zone in disk_spec.

[2015-12-23 10:46] stoor commented on #769
Hi,

Thanks for your response. But I think the problem is not related to image or instance creation or even passing correct parameters to pkb.py . The problem is pkb.py somehow couldn't pass the information of regions to nova. Since keystone has multiple endpoints for nova, I am getting response of AmbiguousEndpoints. In principle the response is correct. Can you please check that together with us

[2015-12-23 12:15] meteorfox commented on #769
@stoor Thanks for your fast response. Right, according to your logs the OS_REGION_NAME value is not being passed to the nova client.

Ah.. I forgot to update the arguments for the Nova client that's used for creating the Cinder volumes. I'll post another commit with the changes necessary.

[2015-12-23 13:08] meteorfox commented on #773
@kivio Clarifying question: Currently the `--zones` flag is associated to an availability zone in the OpenStack provider implementatoin. This zone is specified for all uses VMs, networks, volumes, etc.

Recently, I pushed the PR https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/734 which is is still in review, that allows you to override the availability zone just for VMs, so that we

[2015-12-23 13:20] meteorfox commented on #769
@stoor OK, so I pushed another commit to PR #770 . Please feel free to test it again. Thanks for taking the time to try it out.

[2015-12-23 13:27] meteorfox commented on #771
@paolelw I'm not aware of a "well-known industry benchmark" for LBs, but @voellm benchmark that was [posted on Google Cloud Platform Blog](http://googlecloudplatform.blogspot.com/2013/11/compute-engine-load-balancing-hits-1-million-requests-per-second.html) seems like a great candidate to be included in PKB, and perhaps a good starting point for an industry wide benchmark for LBs.

[2015-12-23 15:24] stoor commented on #769
HI again,

No worries I will be happy to participate even more. We are in the process of building a Community Science Cloud in Sweden. All these tests are very much of our interest. Benchmark will make things easy for us, especially when its not our own :-)  . Here you can find more information about SNIC Science Cloud:  https://cloud.snic.se/

Looking forwards to your patch.

Regards..
Salman.

[2015-12-24 02:36] paolelw commented on #771
@meteorfox Thanks for your reply. I see that @voellm uses curl-loader (http://curl-loader.sourceforge.net/) to benchmark the load balancing service. But it seems there is still long way to integrate curl-loader into PKB.

[2015-12-27 20:28] voellm commented on #771
We have some code but its not been good enough to publish yet.  The basics has been to set up the LB, create 1 to more VM's to receive load, and then use curl loader to generate requests.  We looking at total message per seconds, latency of messages, etc.

The trick to to look at the hockey stick of throughput vs latency and not over drive the system.

Adding
@yuyantingzero
@cmccoy
who has worked

[2015-12-28 09:41] kivio commented on #773
@meteorfox in Cinder we have another availability zones - currently hard to define - one storage node can have one zone defined in config. But if you use zones for VM, nova client try to use this same zone name for cinder and this is my problem. It's not connected with regions i think. Notation <av>:<host> partially solves it because nova send just root zone to cinder without host.

[2015-12-28 15:42] cmccoy commented on #765
@mateusz-blaszkowski - do you want to include your `/etc/hosts` patch in PerfKitBenchmarker? The addition could be dependent on nodes not being reachable by name.

[2015-12-31 17:47] voellm opened #775 "Lucky #7 Community Meeting Feb 11th."
Its that time again ... our next community meeting.  Since the last meeting we have hit "V1", added 3 new providers, disk improvements, new services, and a lot more we'll talk about.

** The plan is to have the meeting Feb 11th.  This is when we first went public with alpha level code.

My asks:
- Who would you like to hear from at the community at the meeting?
- Self nominate topics.

Suggested t

[2016-01-04 17:59] meteorfox opened #776 "openstack: Clarify zone vs. availability zone vs. region"
There's seems to be confusion on terminology in the OpenStack provider implementation for what a zone stands for in PKB, and what a zone means for OpenStack.

The following issues/PRs have been opened due to this confusion and trying to address it.

#734 Expose availability zone for VM
#769 Multi-region support
#770 Expose region name (All services) *workaround
#773 Expose availability zone for Vo

[2016-01-04 17:59] meteorfox commented on #776
@kivio What do you think?

[2016-01-04 18:36] #761 closed

[2016-01-04 19:28] voellm commented on #776
Optionally we can have OpenStack not support the --zone flag and add a
--region flag.  Some providers like AWS would benefit from a "region" as an
option as well.

[2016-01-04 20:07] meteorfox commented on #776
@voellm That's an option as well, I believe that it will require a tiny bit more work since most of the providers (at least AWS, and Rackspace) make the assumption that zone either contains, or actually is, the region. But yes, having a distinction between --region and --zone would be much cleaner.

I can start with OpenStack, it should be pretty simple.

[2016-01-04 20:29] meteorfox commented on #776
@voellm Do you want me to make --region an attribute of the `virtual_machine.BaseVirtualMachine` class, or should I just declare it within the openstack module for now? I prefer the latter, and leave the attribute 'promotion' for another patch along with the changes to the providers that make use of it.

[2016-01-04 22:12] skschneider opened #777 "RELEASE: v1.1.0"
Aiming for a release next week. Tentative cutoff date next Tuesday (2016-01-12).

[2016-01-04 22:36] noahl commented on #621
I just assigned myself. I'm planning to do the object storage portion of this bug. @ehankland if you want to track them, please open new bugs for the mysql service benchmark and the cloud bigtable benchmark.

[2016-01-04 23:13] voellm commented on #776
I'd define it next to the --zone flag in pkb.py here -
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/pkb.py#L105

The default should be "None".  This will allow providers like AWS to use
zone inference like this code here -
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/aws/aws_virtual_machine.py#L118

[2016-01-05 20:50] jtaleric commented on #606
The project is not "stale" -- what gave you that impression voellm? https://github.com/ibmcb/cbtool/commit/fc6395e159e0e10f21248473b4d709e7816995d2

[2016-01-05 21:27] voellm commented on #606
@jtaleric - Thanks for the ping back.  Stale because there was no engagement on this issue - https://github.com/ibmcb/cbtool/issues/85

If you have time I'd be happy to chat about the goals of PKB and find out more about cbtool.

[2016-01-06 17:00] lwatta commented on #776
The zone thing is hitting us. We use AZ's for nova but not yet for cinder and other services so we have a mix. Your proposed fix in the first post would fix our issues. Right now we've modified the code for cinder to simply use the default zone.

[2016-01-06 17:23] lwatta opened #780 "Openstack: make image username an option"
Can we make the image username a cli option? Currently its hardcoded to "ubuntu".
Can we create something like openstack_image_username and default to ubuntu?
We use tend to create all our images with "cloud-user" so its the same for RHEL and Ubuntu.

I've already hacked up my local copy to do this.

[2016-01-06 18:31] voellm commented on #780
@meteorfox @mateusz-blaszkowski  Who might be able to add this in coming change.  You are also very welcome to make a prosed change.

[2016-01-06 18:47] noahl opened #781 "Want API for saving benchmark state between phases"
Right now only data in the benchmark_spec is saved, but it would be very useful to be able to save benchmark-specific data. @cmccoy suggested having a special module-level variable name that is saved for each benchmark, which I like.

[2016-01-06 20:14] lwatta commented on #780
Working on it now

[2016-01-06 21:17] voellm commented on #765
Any thoughts on this?

[2016-01-07 23:05] skschneider commented on #668
Fixed in #779.

[2016-01-07 23:05] #668 closed

[2016-01-08 00:13] skschneider opened #787 "Config-related failures should happen before any benchmark is run"
The current sequence of events looks like this:
1. Create the config object for every benchmark.
2. Start running each benchmark in series.
3. As part of running the benchmark, create the BenchmarkSpec and call its ConstructVirtualMachines function (which translates config sub-objects and flags into VM specs and disk specs).

A config-related error may be raised either when creating the config obj

[2016-01-12 18:19] skschneider commented on #777
I am going to start branching off a release soon.

[2016-01-12 18:57] skschneider commented on #780
Now that #788 is in, is this issue fixed?

[2016-01-12 19:02] lwatta commented on #780
Yes it does fix it. So it can be marked as closed/fixed etc...

[2016-01-12 19:07] skschneider commented on #780
Thanks again!

[2016-01-12 19:07] #780 closed

[2016-01-12 20:36] sgangaraju opened #793 "How to add more network interfaces apart from default openstack private and pubic network in a VM"
I am new to using this kit and using the available default flags in openstack i was able to create a vm which has one public interface and one private network.

/pkb.py --cloud=OpenStack --machine_type=m1.medium --image ubuntu-14.04-cloud-image --benchmarks=iperf --openstack_public_network=proj-net --openstack_private_network=priv_net

I wanted to add one more interface in the virtual machine with

[2016-01-13 00:55] skschneider opened #797 "Move to pep8 1.7"
The current version of pep8 is 1.7.0. By default, it seems to be more picky about style than 1.5.7 (the version we use in tox when running our hooks). The changelog can be found at https://pypi.python.org/pypi/pep8

[2016-01-13 06:02] hinesmr commented on #606
@voellm Cloudbench is 4 years old and not at all stale. We have a mailing list and active contributors as well as a set of fully documented wiki pages. I recommend you start there.

[2016-01-13 13:18] kivio commented on #765
I have this same problem with Cassandra YCSB on OpenStack.
Maybe we can add hostname to /etc/hosts in creating VM post steps for sure.

[2016-01-13 17:53] meteorfox commented on #793
Hi @sgangaraju

At the moment, this is not supported in the OpenStack bindings for PerfKitBenchmarker, but it's something that I've been wanting to get implemented as well. The OpenStack binding is kind of the odd one out of the rest of the bindings since a lot of it depends on the configuration of your OpenStack deployment.

Please do not close this issue, this is a reasonable, if not necessary,

[2016-01-13 18:39] sgangaraju commented on #793
Ok.Thanks

For now as a workaround i would be trying to run my experiments on a static vm which already has 3 pre configured interfaces.I believe i would have to create a custom user config file.

Do you think this approach is worth trying?

[2016-01-13 18:53] meteorfox commented on #793
@sgangaraju Yes it should work.

[2016-01-14 02:22] sgangaraju opened #799 "Getting error: "The key was not in the default config, but was in user overrides".This may indicate a typo"
I am trying to run iperf tests on already provisioned Vms  in openstack based cloud.I followed the instructions in  section "Advanced: How To Run Benchmarks Without Cloud Provisioning (e.g., local workstation) " in PerfKitBenchmarker Wiki and created a user config file sai_user_config.yaml under PerfKitBenchmarker/perfkitbenchmarker/configs dir that looks as follows which has the info of 2 vms run

[2016-01-14 06:27] meteorfox commented on #799
Ok,

`ssh_private_key` should be the path to the SSH private key that matches the SSH public key you are using for your VM, `known_hosts` is most likely not the private key file. Usually the SSH key pair is generated using `ssh-keygen` and then the public key is uploaded to your cloud.

You probably want to remove `install_package: false` for the first VM spec, since we want to make sure it instal

[2016-01-14 16:07] voellm commented on #799
@sgangaraju - Thanks for catching this doc bug and sorry it tripped you up.  We debated the names in the config for some time and you can see we decided to do with something that would be consistent across benchmarks name vm_...  If this fixes your issue please double check the changes I made to the README.md and close.

@meteorfox - Thanks for taking this one!

Happy benchmarking... Tony

[2016-01-14 20:58] sgangaraju commented on #799
Thanks  a lot @meteorfox

1. For some reason although before launching instance i selected a key-pair which i had created in openstack ,the instance came up without .ssh folder.This occured only with one of the images which existed in my openstack cloud but ssh keys were set properly with other images.In anycase i manually created the folder and added the keys.

2.I changed iperf_vm_1 to vm_1 and

[2016-01-14 20:59] #799 closed

[2016-01-14 21:16] meteorfox commented on #799
@sgangaraju Awesome thanks for trying out PerfKitBenchmarker and reporting the issues.

Happy benchmarking!

[2016-01-14 22:58] skschneider opened #803 "Create a way to call benchmark's Cleanup function on provisioned VMs"
Comments suggest that running in stages allows executing a benchmark multiple times on the same resources. Benchmarks like cassandra_ycsb start a cluster in Prepare and tear it down in Cleanup, so these stages need to be repeated like so:

Provision
Prepare
Run
Cleanup
Prepare
Run
Cleanup
Teardown

However, Cleanup is never executed on provisioned VMs unless the benchmark specifically requires it

[2016-01-15 03:26] sgangaraju opened #804 "Openstack:Netperf No results for UDP tests on perfkit provisioned VMs"
When i ran netperf benchmark tests using default openstack config it seems to not get any values for udp tests wheras tcp tests run fine.

    ./pkb.py --cloud=OpenStack --machine_type=m1.medium --image ubuntu-14.04-cloud-image --benchmarks=netperf --openstack_public_network=ext-net --openstack_private_network=sai_proj_net

2016-01-14 18:45:04,568 429f127d MainThread netperf(1/1) INFO     Ran ssh

[2016-01-15 04:37] zbjornson commented on #775
Would love elastic load balancer and perhaps autoscaling benchmarks. Time to respond to traffic increases, maximum RPS, autoscaling latency perhaps.

[2016-01-15 15:47] cmccoy commented on #804
Thanks for reporting this. It looks to me like the OpenStack firewall rules function a bit differently than other cloud providers. For most providers we open TCP and UDP whenever a benchmark requests a port be allowed, but OpenStack defaults to [just TCP](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/3f8714a9e62edc715e3ebd634372810224764ec8/perfkitbenchmarker/providers/openstack/o

[2016-01-15 15:50] meteorfox commented on #804
@sgangaraju The 'quick fix' is to open the UDP port(s) manually in the security group that perfkitbenchmarker creates since it re-uses it.

@cmccoy The 'proper fix' is to add code to open not just TCP but UDP ports as well automatically.

[2016-01-15 16:05] meteorfox commented on #804
I'll work on the proper fix for this issue. Also looking at that part of the code I just noticed there's a race to when it check/creates the security group. There should be a lock in there.

[2016-01-15 18:33] meteorfox commented on #804
@sgangaraju Also I forgot to mention, if you are using the static VMs then you need to open them manually. Even after the code is added for opening UDP ports, it will not try to open ports for a static VM. Don't forget to allow ICMP protocol as well, or the ping benchmark might not work either.

[2016-01-15 19:28] sgangaraju commented on #804
@cmccoy @meteorfox Thanks

Yes, Perfkit_sc_group in openstack had no rules  to allow udp connections

The default security group i have for my cloud has udp,tcp ports open and allows icmp too and thus was able to run netperf,iperf and ping tests succesfully against static vms

I added the rules manually to Perfkit_sc_group to keep udp ports open and was able to get netperf results successfully for

[2016-01-15 19:42] meteorfox commented on #804
@sgangaraju Awesome. I'm glad you got it working. The PR #805 should address your problem once it's merged.

[2016-01-15 22:41] skschneider commented on #777
Release v1.1.0 has been pushed to GitHub:
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/releases/tag/v1.1.0

[2016-01-15 22:41] #777 closed

[2016-01-19 13:03] kivio commented on #776
@meteorfox for me your proposition sounds really good :) i can help with codding ;)

[2016-01-22 22:11] skschneider opened #814 "Add a way for users to specify global flag values in the YAML file"
I was discussing the YAML config files with @ehankland.

Currently, there's a way to specify flag value overrides per benchmark run. It could be useful to have a way to specify a higher-level flag value override that applies to the entire PKB run.

I assume the priority would be such that the benchmark-specific overrides would take precedence over the global overrides, but because the global flag

[2016-01-22 22:35] skschneider opened #815 "Add a way for users to specify global static VM configurations in the YAML file"
I was discussing the YAML config files with @ehankland.

Currently, there are two ways to configure static VMs:
* A JSON file specified with `--static_vm_file`, which populates a global pool.
* VM group configurations within a YAML benchmark configuration.

When a benchmark needs to acquire VMs in the provision stage, it first uses the specifications from the YAML VM group list, then pulls availab

[2016-01-25 20:54] skschneider opened #817 "Add an option in import_util to allow importing python packages"
This would be useful for benchmarks that are an entire python package rather than a single module.

[2016-01-25 22:46] yuyantingzero opened #818 "RELEASE: v1.2.0"
v1.2.0 release starts this week. Cutoff date will be end of day this Tuesday. (2016-01-26)

[2016-01-28 12:52] michael92437558 opened #819 "[OpenStack] Errors of pkb.py when it excuted benchmarks"
vi test.sh
export OS_USERNAME=admin
export OS_PASSWORD=admin
export OS_TENANT_NAME=admin
export OS_PROJECT_NAME=admin
export OS_AUTH_URL=http://172.21.4.2:5000/v2.0

source test.sh
nova list -> succeed
+--------------------------------------+----------------------------------------------+---------+------------+-------------+---------------------------------------------------------------------+
| I

[2016-01-28 12:57] michael92437558 opened #820 "[AWS] Can anybody knows that perfkit testing w/Dedicated host's instances of AWS"
I've tested pkb test w/ AWS's general instances(Shared instance).
But If I wanna take testing more details...as performance  of dedicated host's instance.
I do not find out parameters or options related pkb.py for aws's dedicated host's instance.

Can anybody knows that one ??

[2016-01-28 14:48] voellm commented on #820
What you want to use is what we call static machines.  These can be anything you can SSH into.  The basics is you write a config file and thing run list this...

./pkb.py --benchmarks=fio --static_vm_file=my_dedicated_aws_machine.json

Here is a Wiki you can follow...
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/wiki/Can-I-run-PerfKitBenchmarker-on-my-local-machine-or-data-center%3F

[2016-01-28 14:50] voellm commented on #819
@mateusz-blaszkowski @meteorfox Can you of you respond to this.  Thanks.

[2016-01-28 16:41] meteorfox commented on #819
@michael92437558

import keystoneclient.v2_0.client as ksclient
ImportError: No module named keystoneclient.v2_0.client
2016-01-28 20:51:32,494 143950a9 MainThread unixbench(1/1) pkb.py:510 ERROR Benchmark 1/1 unixbench (UID: unixbench0) failed. Execution will continue.

Seems like you don't have the keystoneclient package with at least `python-keystoneclient==2.0.0`, try upgrading to 2.0.0.

[cod

[2016-01-29 16:19] noahl commented on #819
@meteorfox Do we need to add python-keystoneclient to one of the requirements files? I don't see it in `requirements-openstack.txt` or `requirements.txt`.

[2016-01-29 17:02] meteorfox commented on #819
@noahl python-novaclient pulls the keystoneclient package as well. What I'm thinking is that they have an old version of the novaclient which is probably why they have an old version of keystoneclient.

[2016-01-29 18:20] meteorfox commented on #819
@noahl We could pin the dependencies to a particular version instead of always getting the latest.

I've tested on my lab with the these and works fine:
[code]

There are some breaking chanes in In the later versions of novaclient (>3.0), they deprecated the ability to create block storage volumes from the Nova API, now the cinderclient library must be used.

We need to address this sometime soon,

[2016-01-29 19:00] skschneider commented on #819
Perhaps in addition to specifying the version, we should have a setup step in PKB that uses pkg_resources to check for required packages and warn/fail if they're not present. A similar check can take place in providers.LoadProvider for the provider-specific requirements file.

[2016-01-30 15:42] Jramirezg opened #823 "Guidelines for benchmarking IaaS in a private cloud"
Do you have any guidelines for benchmarking IaaS in a private cloud? I am writting a study about how major cloud providers evaluate their data centers.

[2016-02-01 08:48] michael92437558 commented on #819
@meteorfox @noahl

That problem was solved when I installed each clients of keystone&nova
python-keystoneclient==2.1.1
python-novaclient==2.35.0

Thank u guys

[2016-02-01 19:55] noahl commented on #819
@michael92437558 I'm glad you got it working.

@meteorfox @skschneider let's specify the versions in `requirements.txt` as a quick fix. I like the idea of doing a runtime check in the longer-term.

[2016-02-02 04:47] voellm commented on #823
I can explain some things we do at Google.  Will update tomorrow (Tuesday).
On Jan 30, 2016 7:42 AM, "Jramirezg" <notifications@github.com> wrote:

[2016-02-03 18:16] yuyantingzero commented on #818
Release v1.2.0: https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/releases/tag/v1.2.0

[2016-02-03 18:16] #818 closed

[2016-02-04 03:21] dq922 opened #831 "Support of Azure Resource Management mode (ARM)"
Azure has two management mode. The 'legacy/classic' (ASM) one is currently supported by this tool and Microsoft recommends using ARM moving forward.

Request for support of new deployment mode.

[2016-02-04 03:55] cmccoy commented on #831
ASM support would definitely be welcome. Would you be interested in contributing?

[2016-02-05 00:16] voellm commented on #823
Not forgotten ... just delayed.

[2016-02-05 00:47] dq922 commented on #831
Yes, sure. I'll happy to contribute.

[2016-02-06 16:45] voellm commented on #820
Did this solve your problem?  It would also be good to add the ability to automatically start and stop dedicated instances.

@noahl was looking at that the other week.

[2016-02-06 17:02] voellm commented on #823
PerfKit Benchmark (PKB) was designed to handle Cloud environments first and any cluster of machines (we call these static machines).

One thing I think studies often miss is provisioning speeds.  It is an important difference for Cloud vs Private Clusters,  Provisioning of resource dynamically is a key metric as well as end to end times as a measure of real work done.  Most studies focus on peak f

[2016-02-06 17:06] voellm commented on #823
Please feel free to reopen if you want to talk more.  Also we have a community meeting this coming week on Feb 11th.  Our 1 year anniversary.  You are welcome to attend and all I need is for you to main me your @gmail.com address to voellm@google.com.  We use Hangouts to do the meetings.

[2016-02-06 17:06] #823 closed

[2016-02-07 22:59] Jramirezg commented on #823
I am looking for info about scalability, availability, and performance
benchmarking. I would like to know how you perform a benchmark in your data
center for this metrics. Also I operate a private cloud with IaaS and I
will like to benchmark it.
any info, guidelines and experiences you have with perfkitand, I will
preciate your help.
Send me your advices, and info to jramirezg.1944@gmail.com
thank

[2016-02-07 23:01] Jramirezg commented on #823
I was wondering if you offer any online courses about perfkit and your
benchmarking methods. thanks

2016-02-06 12:06 GMT-05:00 Anthony Voellm aka Tony the P3rfguy <
notifications@github.com>:

[2016-02-07 23:07] Jramirezg commented on #823
I am speccially interested in Flops/joules metrics for efficiency, if you
use this metric and how you measure it. I can take some time to reply
internet is not very good in Cuba
thanks

2016-02-07 17:59 GMT-05:00 Jose Ramirez <jramirezg.1944@gmail.com>:

[2016-02-09 02:00] zbjornson opened #835 "iperf and maybe others need `--enablerepo epel` with AWS Linux"
Trying to run iperf with AWS Linux (ami-60b6c60a):

[code]

Took a while, but figured out I needed to set `--aws_user_name ec2-user` and `--os_type rhel` in addition to setting the image. Despite the steps taken in perfkitbenchmarker/linux_packages/iperf.py, `yum install iperf` fails. It works if you add `--enablerepo epel`. I'm not sure, but I'd assume this is harmless to always have enabled.

Re

[2016-02-09 04:07] zbjornson commented on #750
Hello again! Great to see #609 has been merged, but it looks like the behavior for GCP is now to test standard-class in the hard-coded default location and only use the `storage_region` flag for the DRA test. Am I reading that right? https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/609/files#diff-6eaa1bb94259e2c7a82d65fb5786b7f0R868

Is adding `--storage_class` still on the roadmap?

[2016-02-09 05:21] noahl commented on #750
@zbjornson The GCS test is a bit weird in that it always tests two buckets - a continental bucket and a regional bucket. The `object_storage_region` flag applies to the regional bucket. I agree that's a bit weird - ultimately I think there should be one bucket, and the storage class should be given by `--storage_class`. Feel free to file a bug to track that if you want. I'd be glad to assign it to

[2016-02-09 06:06] stfeng commented on #750
@zbjornson The current behavior is the same as before: 1) test the "US" continentally replicated bucket with "standard" as the storage class, and 2) test regionally replicated bucket using DRA as storage class. The only change introduced by this PR is to introduce an *optional* parameter so people can specify which region they want to use for 2).

Two further clarifications:

1. Using the DRA stor

[2016-02-09 06:44] noahl commented on #750
@stfeng I think you explained that to me before; I'm sorry I didn't
remember it.

I think when I was making #609 I should have let the
`object_storage_region` flag change the continent of the continental bucket
to match the region, but I didn't realize how it worked at the time. Does
that sound reasonable to you?

On Mon, Feb 8, 2016 at 10:06 PM, Stanley Feng <notifications@github.com>
wrote:

[2016-02-09 07:45] zbjornson commented on #750
Thank you both for the comments.

@stfeng re: (2), I actually think it *is* weird because the regional bucket is only tested for latency (one byte RW), but not throughput or consistency like the multi-region bucket. I ended up tweaking the code so that I could test throughput and consistency for regional buckets vs. multi-region. Likewise, I would like to see all three metrics for all three classe

[2016-02-09 08:16] stfeng commented on #750
The reason we are only doing latency tests for regional is because we
expected regional offering to differ from continental mainly in terms of
(write) latency only. The other two scenarios (throughput and consistency)
both take significantly longer to run and wouldn't reveal much more
additional information than one would have already got from the continental
tests. It is a concious trade-off deci

[2016-02-09 08:22] zbjornson opened #836 "Add --object_storage_class flag for object_storage_service benchmark"
For GCS, allow users to spec standard|DRA|nearline.

(See discussion in #750.)

[2016-02-09 08:27] zbjornson opened #837 "Remove second test (regional latency) from GCS object_storage_service"
The object_storage_service benchmark for GCS tests one-byte-RW (latency) for a regional bucket after testing a multi-region bucket.

My suggestion from discussion in #750 is to remove this second test and instead allow users to make use of `--object_storage_class` (proposed in #836), `--object_storage_region` and `--object_storage_scenario` to get whatever benchmark combo they want.

[2016-02-09 08:27] zbjornson commented on #750
Issues created. Thanks for the feedback and all your work! :)

[2016-02-09 08:27] #750 closed

[2016-02-09 17:22] voellm opened #838 "Object_storage failing with "STDOUT: STDERR: Warning: Permanently added '108.170.222.218' (ECDSA) to the list of known hosts. Usage: pip COMMAND [OPTIONS] pip: error: No command by the name pip show (maybe you meant "pip install show")""
./pkb.py --image=debian-7 --zones=us-central1-c --machine_type=n1-standard-8 --benchmarks=object_storage_service --storage=GCP --object_storage_scenario=api_data

...
STDOUT: STDERR: Warning: Permanently added '108.170.222.218' (ECDSA) to the list of known hosts. Usage: pip COMMAND [OPTIONS]  pip: error: No command by the name pip show   (maybe you meant "pip install show")"

...

perfkit@pkb-d8f9

[2016-02-09 17:23] voellm commented on #838
@noahl FYI... maybe you want to fix this.

[2016-02-09 19:07] noahl commented on #838
@voellm I assigned myself. I'll work on a PR today.

[2016-02-09 21:03] voellm commented on #835
I think the root issue you are hitting is that t2 are not described in the virtual_machine.py file here -https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/aws/aws_virtual_machine.py#L42

This file helps to select the os/image

As for the --aws_user_name do the AWS cli work without specifying it?

[2016-02-09 21:33] zbjornson commented on #835
Not sure if that line is it -- looks like that determines if it's HVM or PV?

Meant to link to this line in my original post -- this is where `--enablerepo epel` is required https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/2e706c9d956b50ddb1923c2744cd3f2a716eca4e/perfkitbenchmarker/linux_virtual_machine.py#L639

That's taken from [AWS's instructions for installing iperf](https://aws.

[2016-02-09 22:10] zbjornson opened #839 "Benchmarks without flags aren't listed in `./pkb.py --help`"
I assume `./pkb.py --help` should list all of the benchmarks. However, it doesn't seem to list any benchmarks that don't have defined flags (aerospike_ycsb, bonnie, cassandra_ycsb, cluster_boot, coremark, ping, redis_ycsb, scimark2, sysbench_oltp). These all have descriptions in their source files ([cluster_boot's example](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfk

[2016-02-09 22:31] skschneider commented on #839
Below is what I get. I see the benchmarks you mentioned, plus others. I did have to pipe to a file because the output was so large. Could that be the problem?

[code]

[2016-02-09 22:33] zbjornson commented on #839
Ooof, sorry. I missed the top part and was only looking at the perfkitbenchmarker.* section.

[2016-02-09 22:33] #839 closed

[2016-02-10 00:41] hildrum commented on #835
I'm looking into this.

[2016-02-10 01:08] jntkflow opened #841 "Error during fio job"
I'm not really sure what's happening but here's the most relevant output IMO:
[code]
This is happening consistently while other tests such as unixbench are working fine.

[2016-02-10 01:26] noahl commented on #841
Hi @jntkflow , can you share what cloud and OS image you're using here? The full command you gave to PKB, and the full output, would also be great. I'd like to try to reproduce your setup.

I've seen errors like this before, and they're often related to the `--directory` argument. That's the first thing I would look into, but I can't work on it myself until I can reproduce.

[2016-02-10 02:01] yuyantingzero commented on #841
@jntkflow , if you can provide /var/folders/1n/619vv5jj2sv9cd8hgnr72md40000gn/T/perfkitbenchmarker/run_8dfe8095/cmd3632414d-742b-4448-b99e-9c814f65ecc0.* that will be helpful as well.

[2016-02-10 03:34] noahl commented on #838
#842 fixes this for me.

[2016-02-10 03:40] stfeng commented on #838
Thank you Noah for fixing this for everyone!

On Tuesday, February 9, 2016, noahl <notifications@github.com> wrote:

[2016-02-10 06:18] jntkflow commented on #841
@noahl I'm using AWS and OS image Ubuntu 14.04. The command I used is:
[code]
I'm uploading the results to a bigquery table but I don't know if those args are necessary to reproduce this output.

[2016-02-10 06:19] jntkflow commented on #841
@yuyantingzero I don't see that file there anymore. Perhaps it's temporary?

[2016-02-10 18:29] yuyantingzero commented on #841
@jntkflow Yes, that file is temporary. You can also get those files inside your vm at /tmp/pkb/cmd3632414d-742b-4448-b99e-9c814f65ecc0.*, if you still have the vm around or repro again.
Since you are using a custom job file. Do you mind sharing your job file as well? From the error message, it basically says cannot create/find the data file for fio test. It is probably caused by some filename/dire

[2016-02-10 20:19] noahl commented on #838
I just merged #842, so I'm closing this bug.

[2016-02-10 20:19] #838 closed

[2016-02-11 01:50] #819 closed

[2016-02-11 02:00] noahl commented on #819
@michael92437558 - thanks for closing.

Just for the record, I'd like to say on this bug that #829 and #834 together should prevent this from happening again.

[2016-02-12 05:03] jntkflow commented on #841
My custom job file does contain filename/directory parameters that don't exist. I'll try running without a fio jobfile this time and see if I'm able to run the benchmark to completion.

Thanks for the helpful responses. I'll be back!

[2016-02-15 20:01] meteorfox commented on #818
Shouldn't we close the milestone? I think it is still open under 'Issues > Milestones'.

[2016-02-16 22:19] voellm commented on #775
Thanks to @zbjornson / @noahl / Javier for speaking.  Here is the slide deck which is also posted to the Wiki - https://docs.google.com/presentation/d/1B1jvWWh0ACaDv4ryEzLlH-KropXUNf6y4IGGjIL5uBo/edit#slide=id.g60dd38b59_1_0

[2016-02-16 22:19] #775 closed

[2016-02-16 22:19] voellm commented on #775
And ... many thanks to @ivansmf  for hosting the meeting!

[2016-02-18 22:43] hildrum opened #847 "Release v1.3.0"
We're starting the process for release 1.3.  The cutoff date will be end of day Tuesday the 23rd.

[2016-02-19 01:31] noahl commented on #841
Hi @jntkflow , any update on how your benchmarking went? Since you said your custom job file contains parameters that don't exist, I'm going to close this bug for now, but please reopen if you think there's an issue in PKB!

[2016-02-19 01:31] #841 closed

[2016-02-19 23:18] voellm opened #848 "Add multichase as a benchmark"
Should we add multichase as a benchmark for PKB?  Its pullls out a HPL RandonAccess like workload and is simpler to run.

https://github.com/google/multichase

[2016-02-19 23:21] rama-govindaraju commented on #848
Makes sense. +1 for adding this to PKB.

[2016-02-22 17:58] meteorfox commented on #848
Seems similar to the latency benchmark ([`lat_mem_rd`](http://www.bitmover.com/lmbench/lat_mem_rd.8.html)) in LMBench, but it seems this one is multi-core 'aware'.
:+1: +1

May I also suggest that before we just publish the metrics that the `multichase` outputs, that we decide what are the metrics we need.

Personally,

From the top of my head, I would like to see metrics for these, I think multic

[2016-02-22 18:54] voellm commented on #848
Very good points!

On Mon, Feb 22, 2016 at 9:58 AM, Carlos Torres <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenchmarker>

[2016-02-24 19:39] skschneider opened #851 "Move provider-specific requirements-*.txt files into the providers' directories."
As discussed in #834, this is to avoid cluttering the root directory and to consolidate provider-specific files.

Right now, #829 has some unmerged changes to a provider requirements file. After that, I'll make a PR to copy the files to the new location, while having the existing files in the old location use `-r` to include the files in the new location. After a while, the old files will be remov

[2016-02-25 01:46] meteorfox commented on #804
@sgangaraju Closing this issue. The reporter found a workaround, and a solution has been merged.

[2016-02-25 01:46] #804 closed

[2016-02-25 07:42] meteorfox commented on #848
Ok, so I forked multichase benchmark, and I've been experimenting with using HdrHistogram to track the statistics.

Currently, multichase starts the threads executing the workload in a loop as fast as possible and every 0.5 seconds it samples each thread's counter which keeps track of the number of iterations executed between the sampling period. Then it reports the average latency as `number of i

[2016-02-26 16:52] voellm opened #853 "The object storage services needs a refatoring"
In looking through the object storage benchmark a lot of implementation details have leaked into the code and does not meet the separate of policy and mechanism we have for other benchmarks.

A benchmark should be implemented in a Cloud independent way.  The means there should be an interface for;
- single put
- Single get
- multi put
- multi get
- list
and them the details of how those would shou

[2016-02-26 16:53] voellm commented on #853
Noah and I talked about this yesterday and he is going to work on this in Q2 (april - june) timeframe.  First up however is a design doc.

[2016-02-29 22:30] cbhall opened #854 "Benchmarker releases after 1.0.1 will not reuse available OpenStack Floating IPs"
With PerfKit Benchmarker version 1.0.1, OpenStack Floating IPs that had been created but were currently unused were being reused by Benchmarker.  In later releases (1.1.0 and 1.2.0) Benchmarker will never reuse an existing (but currently unused) Floating IP, but will instead always attempt to create a new one.  In my tests, not reusing an existing Floating IP will result in a Benchmarker failure i

[2016-02-29 22:35] meteorfox commented on #854
@cbhall Thanks for reporting this issue. I believe this should be fixed on master already. We pinned the version to v2.1 due to similar issues. See https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/829

Try the master branch with the latest commit, if it's still not working I'll take a look. Thanks!

[2016-02-29 22:36] voellm commented on #854
+Carlos +Mateusz

On Mon, Feb 29, 2016 at 2:30 PM, Brian Hall <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCloudPlatform/PerfKitBenchmarker>

[2016-02-29 22:44] meteorfox commented on #854
@cbhall Also I forgot to add, make sure you run `pip install -r requirements-openstack.txt` so it pulls that version of `python-novaclient`.

[2016-03-01 12:41] darrylweaver opened #855 "openstack provider: feature request: option to disable floating IP allocation"
Currently the Openstack provider will attempt to allocate a floating IP to all Virtual Machines on creation.
Some public clouds and many private cloud deployments will either be short of real floating IPs or have no need to use floating IPs at all, if networks are routed directly from the workstation running perfkit.

Therefore, there should be an option to disable the allocation of a floating IP

[2016-03-01 16:16] voellm commented on #855
You can force internal IP allocation today with --ip_addresses=INTERNAL for
all benchmark runs.  Does that work for you?

On Tue, Mar 1, 2016 at 4:41 AM, Darryl Weaver <notifications@github.com>
wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://

[2016-03-01 17:48] meteorfox commented on #855
@darrylweaver Sorry for hijacking your post.

@voellm Looking at the [code](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/openstack/os_virtual_machine.py#L122-L129) it seems it will try to allocate the floating IP address regardless, even when it later only uses the `INTERNAL` IP

The network allocation in the OpenStack provider implementation n

[2016-03-01 18:31] darrylweaver commented on #855
I tried the --ip_addresses=INTERNAL and I can confirm that it tries to allocate floating IPs for every single machine.  This results in eventually running out of floating IPs and no more benchmarks being processed.  I ended up commenting out the floating IP allocation code, so I could continue to get data.

With regards to the broader discussion of what should be supported, then it will be impossi

[2016-03-01 20:04] meteorfox commented on #855
@darrylweaver Here's what I'm envisioning to address your issue.

Make the flags `--openstack_private_network` and `--openstack_public_network` take a list of pre-created networks names. By default, it will try to attach and get a fixed IP from each network given. Both can be set but, at least, one of them has to be set. A public network could be any network that PKB client can reach. A private ne

[2016-03-01 20:26] darrylweaver commented on #855
Yes, that should address my issue.
Most, if not all, environments would be covered by that ordering, certainly the ones I am looking at.
Some private clouds and restricted public clouds would have to run PKB client inside the cloud anyway, so you should be able to have a private network only, so the last fall back should work for that case.

Not sure about making the --openstack_floating_ip_pool a

[2016-03-01 22:23] cbhall commented on #854
I picked up the latest commit of the master branch, and I updated the Python packages to python-keystoneclient==2.1.1 and python-novaclient==2.35.0.  However, I still see the same problem.  Unfortunately, my OpenStack only supports the Nova v2.0 API:
# nova version-list
+------+-----------+----------------------+-------------+---------+
| Id   | Status    | Updated              | Min Version | Ver

[2016-03-01 23:56] meteorfox commented on #854
@cbhall I see. The reason we added the filter for `status='Down'` is that without it will try to re-use floating IPs that have been associated with an instance already and cause an error.

One solution to support both API version is to filter for those floating IPs that have a `"instance_id": null` instead of using `status`.

[2016-03-02 00:01] cbhall commented on #854
@meteorfox Sure, that sounds like a good alternative.

[2016-03-02 05:30] meteorfox commented on #855
@darrylweaver I have the PR almost ready here https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/compare/master...meteorfox:openstack-opt-floating-ips

After experimenting with the flags against my OpenStack deployment, I can see what you meant. Adding the flag `--openstack_floating_ip_pool` doesn't really add much, since an external network would still need an internal network port to be a

[2016-03-02 15:43] cbhall opened #856 "SPEC CPU2006 run fails to delete VM on OpenStack"
Running SPEC CPU2006 on OpenStack with:
`./pkb.trace.py --cloud=OpenStack --benchmarks=speccpu2006 --benchmark_subset=all --image="Ubuntu 14.04.3 LTS" --machine_type=m1.small --openstack_private_network=private_net --openstack_public_network=ext_net`
takes about 11 hours.  This run always fails to delete the VM that was created.  Dumping the API requests and responses indicates that the problem is

[2016-03-02 16:13] darrylweaver commented on #855
OK, Case A and B make sense to me.

Well, I guess it depends on how you define an openstack external network.  Generally the only distinction in Openstack is that there are networks and external networks that floating IPs are allocated from.  If we consider all networks that can attach an instance as an "internal" network and any "external" network to be a pool of floating IPs, then there is no su

[2016-03-02 21:19] cbhall commented on #856
I forgot to mention that there was also an exception reported:
[code]

[2016-03-02 21:40] voellm commented on #856
Carlos - can you triage?

[2016-03-03 15:33] cbhall commented on #856
The authentication request that is missing a password actually comes from line 646 in /usr/local/lib/python2.7/site-packages/novaclient/client.py (in _v2_auth).  Note that this is with python-novaclient==2.35.0.

[2016-03-03 21:47] voellm commented on #855
@darrylweaver - Do you want to take a pass at putting a pull request together?  Just looking for the next step here based on the discussion with @meteorfox.

[2016-03-03 21:48] voellm commented on #856
@cbhall - Would you like to submit a fix we can review?

[2016-03-07 19:13] jdc0589 opened #860 "azure vm creation errors"
I'm running in to errors with the VM creation portion of an fio benchmark in Azure.

Steps for (me) to reproduce:
1. confirm azure cli version: `0.9.9 (node: 5.2.0)`), and pkb version: `v1.2.0`.
2. set azure cli to asm mode
3. run `pkb --cloud Azure --benchmarks=fio --scratch_disk_type=standard --scratch_disk_size=100`
4. error: `d931267b MainThread fio(1/1) vm_util.py:292 ERROR    Exception occur

[2016-03-07 19:57] cbhall commented on #856
Sure, I will work on a fix.

[2016-03-07 23:42] skschneider commented on #860
Looks like Popen.communicate stdout from the `azure vm image list --json` command is being truncated:
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/vm_util.py#L541
Python doc: https://docs.python.org/2/library/subprocess.html#subprocess.Popen.communicate
There's a warning that "The data read is buffered in memory, so do not use this method if the data siz

[2016-03-08 14:53] jdc0589 commented on #860
The response is pretty large, I had manually been calling the same `images` method earlier in the day just to remind myself of azure's weird VM names; it is extremely slow, and large.

It would be weird if it was getting truncated, there is certainly enough free memory to handle the response, so it must be very specific issue in the subprocess  module (if thats even the issue). My python fu is wea

[2016-03-08 19:02] meteorfox commented on #855
@darrylweaver This PR #861 implements your suggestions.

[2016-03-08 19:41] meteorfox commented on #854
I was able to replicate this bug in my environment as well. I posted #862 to address the issue.

[2016-03-08 20:57] skschneider commented on #860
I'll try to reproduce this later with OS X and/or zsh. For now, you should be able to sidestep the image list command if you explicitly specify the image (e.g. `--image=...`)

The default images I'm getting for Azure are currently, by OS:
windows: `a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20160229-en.us-127GB.vhd`
debian: `b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_04_4-LTS-amd64-

[2016-03-08 21:30] jdc0589 commented on #860
@skschneider thanks, not sure why that didn't occur to me. thats got me past it for now.

[2016-03-08 22:00] jdc0589 opened #863 "failure to clean up azure resources when scratch disk size is invalid"
**Full disclosure**: I had commented out [these assertions](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/azure/azure_disk.py#L108) to get passed an error with the PLRS assertion when I got this error

pkb command : `pkb --cloud Azure --benchmarks=fio --scratch_disk_type=remote_ssd --scratch_disk_size=1024 --machine_type="Standard_DS13" --image=

[2016-03-08 22:09] jdc0589 commented on #863
I will retest with the correct azure_storage_type and the assertions in place and reopen if it persists.

[2016-03-08 22:09] #863 closed

[2016-03-08 22:15] ehankland commented on #863
There is a configurable timeout period for commands that PKB thinks are retryable (like creating/deleting disks) - the default is 1200 seconds or 20 minutes. You can control this with the "default_timeout" flag. From the logs it looks like the cleanup wasn't working because Azure was busy doing something else:
[code]
Eventually (in the 20 min retry window) Azure probably would have allowed the dis

[2016-03-08 22:22] jdc0589 opened #864 "issue with azure_storage_type"
Based on some assertion errors I got ([due to this](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/azure/azure_disk.py#L108)), it looks like `azure_storage_type` **must** be set to provision a premium disk. However, I'm not seeing a way to do this from the command line if there is no user config file.

But, it doesn't look like that flag value is

[2016-03-08 22:24] voellm commented on #863
If you come up with a better timeout here please post back on work is working well.

[2016-03-08 22:25] jdc0589 commented on #864
made some last minute updates...

[2016-03-08 22:26] voellm commented on #864
@noahl
Can you add some examples to the questions.

@jdc0589  - The names are here - https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/providers/azure/azure_disk.py#L39

[2016-03-08 22:27] noahl commented on #864
So you tried `--azure_storage_type=...` from the command line and had no effect? I would have expected that to set the Azure storage type.

Also, which assertions did you comment out?

[2016-03-08 22:28] voellm commented on #864
@noahl - Please give some full examples.  Its not always clear how to use
the flags or the options they take.

On Tue, Mar 8, 2016 at 2:27 PM, noahl <notifications@github.com> wrote:

--
Anthony F. Voellm (aka Tony)
Google Voice:  (650) 516-7382
<https://www.google.com/voice/b/0?pli=1#phones>
Blog: http://perfguy.blogspot.com/
Benchmark like a pro... PerfKitBenchmarker
<https://github.com/GoogleCl

[2016-03-08 22:29] noahl commented on #864
Oh, I see one possible source of confusion. The `--azure_storage_type` flag sets the replication of your storage, and applies to all storage on Azure, including Blob Store, Queues, etc. The options are LRS, PLRS, ZRS, GRS, and RAGRS. You also have to set the `--disk_type` flag, which sets PKB's notion of a disk type. So if you want to create an Azure premium storage disk, you'll need to use `pkb.p

[2016-03-08 22:30] noahl commented on #864
@jdc0589 - can you post the command you were using, and the output you expected?

[2016-03-08 22:31] jdc0589 commented on #864
@noahl `--azure_storage_type` is not accepted as a valid cmd line flag.

original pkb command: `pkb --cloud Azure --benchmarks=fio --scratch_disk_type=remote_ssd --azure_storage_type="plrs" --scratch_disk_size=1023 --machine_type="Standard_DS13" --image="b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_04_4-LTS-amd64-server-20160222-en-us-30GB"`

rejected by the cli parser: `pkb --cloud Azure --benchma

[2016-03-08 22:41] noahl commented on #864
The issue that our flags are case-sensitive, so you need to capitalize `PLRS`. Sorry for the confusion. Also, putting quotes around "PLRS" isn't necessary, although I don't think they'll hurt if you want to use them.

[2016-03-08 23:00] jdc0589 commented on #864
@noahl this is still rejected as invalid: `pkb --cloud Azure --benchmarks=fio --scratch_disk_type=premium-storage --azure_storage_type="PLRS" --scratch_disk_size=1023 --machine_type="Standard_DS13" --image="b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_04_4-LTS-amd64-server-20160222-en-us-30GB"`

am I missing something simple here?

[2016-03-08 23:05] yuyantingzero opened #865 "Upgrade YCSB version"
YCSB version used in PKB is 0.3.0, it causes some issues when latency is under 1 ms.
The current YCSB (0.7.0) will fix the above problem.

Talked to @cmccoy  offline, newer version of YCSB moved to HDR histograms by default, instead of outputting the count in each 1ms bucket, so YCSB result parser will need to be updated as well.

[2016-03-08 23:06] noahl commented on #864
@ehankland points out that I missed which disk flag you were using. Unfortunately, we're in the middle of a refactor of the disk type flags. The new method, which will be the only one in the near future, is to get rid of your `--scratch_disk_type` flag and instead use `--data_disk_type=premium-storage`. The error is because the `--scratch_disk_type` flag takes old-style arguments, which do not inc

[2016-03-08 23:08] jdc0589 commented on #864
@noahl I'm rerunning currently as well (still using --scratch_disk_type, which looks like it was coerced correctly)

[2016-03-09 00:13] noahl commented on #864
My test succeeded. I'm closing this issue for now, but please reopen if you run into more problems.

[2016-03-09 00:13] #864 closed

[2016-03-09 00:56] darrylweaver commented on #855
Yes, that seems to address the issue, thanks.

[2016-03-09 14:50] jdc0589 commented on #863
no, leave this closed. it was due to some modification I made while trying to solve another issue.

[2016-03-09 14:52] jdc0589 commented on #864
@noahl mine did as well. looks like this is on me, I just had something wonky in my command after I started trying to add `--azure_storage_type`. Documentation is.....rough, right now though.

[2016-03-09 14:56] voellm commented on #864
Perhaps we should update the README.md with some examples and common naming
for the different platforms.  Likely a simple table like...

                      Local SSD         Remote SSD       Remote HD
GCP             <flag value> ...
AWZ
Azure
OpenStack
Racksapce

@noahl - Is this something you can add?

[2016-03-09 16:35] jdc0589 commented on #864
@voellm That would be extremely valuable. Even more so if each of those examples was also accompanied by a user config file example that did the exact same thing.

[2016-03-09 18:06] meteorfox commented on #856
@kivio  is the author of the code so he should be able to know what's going on exactly, but I'll give it a try.

It looks like because the benchmark takes a long time then the auth token expires and it has to reauthenticate with Keystone.

Now, the retry logic is there but it relies on an try/except behavior combined with ` __getattribute__` from what I see.

This line throws the exception `Attrib

[2016-03-09 19:10] noahl commented on #864
@voellm Yes, I can add the examples easily.

I'm not sure if we want to put whole sample config files in the README.md, though - it would make it pretty long. What do you think of a folder of sample configs?

[2016-03-09 19:12] jdc0589 commented on #864
@noahl agreed. a folder with configs would be great. it's easy enough to link straight to those from the readme.

[2016-03-09 20:00] cbhall commented on #856
@meteorfox @kivio  Yes, the failure is caused because the benchmark runs for a long time and the auth token has expired.  I have investigated a couple of fixes and have some comments about the fixes and about the code in general.  Note that I don't generally program in Python and I don't know the Benchmarker code well, so my comments may be off base...

The first fix I considered was to modify the

[2016-03-09 20:09] meteorfox commented on #856
@cbhall I proposed PR #870 to address this issue.

Essentially, it's like you suggested as a 'second fix' but still uses Keystone, particularly their Session object, which apparently seems to be the recommended approach by the OpenStack docs.

Basically, Keystone Session manages the retry logic for whenever the auth token expires this means we can simplify our code in Benchmarker.

I'm currently t

[2016-03-09 21:40] meteorfox commented on #856
heh.. I though I had the default token expiration timeout but I actually have 12 hours configured. *sigh*

I'll revoke the token manually. I should've probably done that from the beginning.

[2016-03-09 22:21] meteorfox commented on #856
@cbhall Alright, I confirmed that is properly reauthenticating.

Here's the log,
- Tries deleting the server but gets an `Authentication required` error
- Automatically re-authenticates and gets a new token
- Retries the delete call, and gets a 204 response code

[code]

So, once the PR gets reviewed and merged this should fix your problem.

[2016-03-10 02:18] noahl commented on #864
Added README examples in #871 .

[2016-03-10 02:35] skschneider commented on #860
I'm able to reproduce this with OS X 10.11.3 w/ bash. I'll work on a fix.

[2016-03-10 15:44] cbhall commented on #854
This fix is working just fine for me.  In addition, the new code is correctly deleting the floating IP after use, another issue I had noted in past.

[2016-03-10 15:59] cbhall commented on #856
The new code is working just fine for me.  The number of API requests for authentication is substantially reduced.  Nice!

[2016-03-10 16:21] kamsz opened #872 "Use CQL YCSB binding"
PKB should use CQL binding of YCSB (cassandra2-cql) instead of deprecated Thrift binding (cassandra-10).

[2016-03-10 16:54] mlpesant opened #873 "--static_vm_file option gets ignored and pkb is forced to run on the cloud"
I followed the simple instructions on https://github.com/GoogleCloudPlatform/PerfKitBenchmarker to run on a static local target instead of a VM from a cloud provider, and I also added the --static_vm_file option after getting errors.

This is the command I ended up with:
./pkb.py  --static_vm_file=my_target.json --ip_addresses=EXTERNAL --benchmark_config_file=my_bench.yaml

This results in the fol

[2016-03-10 17:07] cbhall opened #874 "Spurious error that deletion of OpenStack VM failed"
In many, but not all, runs of PerfKit Benchmarker on OpenStack, the following error is reported:
`2016-03-10 03:55:46,244 73012e99 Thread-25 speccpu2006(1/1) ERROR    Got exception running _DeleteResource: Deletion of DebianBasedOpenStackVirtualMachine failed.`
I think this error is generally accompanied by a later message:
`2016-03-10 03:56:04,206 73012e99 Thread-25 speccpu2006(1/1) INFO     Inst

[2016-03-10 17:17] meteorfox commented on #874
Ah, good catch.

`_Delete()` needs to block until the VM is deleted otherwise whenever `_Exists()` returns True after a _Delete()  it will raise that error and retry until _Exists() return False.

Your VM(s) should still get deleted but it's annoying to see the RED error messages plus it causes confusion.

I'll make a patch for this, thanks again for reporting it.

[2016-03-10 19:00] akrzos opened #875 "Run FIO in multiple instances"
I would like the ability to run FIO on multiple instances all starting at the same time as a stress test to a cloud.

Currently I can run:
[code]
Although two instances are started, fio only runs on one.

The help text is a bit misleading as well:
[code]

Why are the VMs variable above those benchmarks in the help output, yet only one vm will run fio.  I am guessing the help output is not up to da

[2016-03-10 19:00] voellm commented on #873
Please let us know if the new config works for you.  Its best not to mix "config files" and "static machine files".  The static machines files are just for overloading a machine.

As Eric mentioned you need at least two machines in the static file like below for Aerospike otherwise it will try and full from the default Cloud which is GCP... thus the errors you saw.
[
  {
    "ip_address": "9.41.16

[2016-03-10 19:07] ehankland commented on #875
re: the help text - note that after fio it does say "(1 VMs with scratch volume(s))" on the same line. The "(variable VMs)" bit is from the cluster boot benchmark above (due to some unfortunate line wrapping)

[2016-03-10 19:07] noahl commented on #875
Hi Alex,

That's not currently on the roadmap, but it's certainly doable. If you are willing to implement it, I would be glad to answer questions about how the fio benchmark works (I am the last person who did a big change there, I believe) or implementation strategies.

If you're looking for someone else to implement, I don't know if I will have time, but we can leave the issue open to track it.

[2016-03-10 19:09] meteorfox commented on #875
Looking at the code, it does only uses one VM.
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/linux_benchmarks/fio_benchmark.py#L382

I've ran multiple instances by just executing multiple PKB processes and putting them in the background just like @noahl  suggested.

[2016-03-10 19:20] jtaleric commented on #875
If we wanted to synchronize the run across multiple vms (~512) I think we
would need a more robust solution.

On Thu, Mar 10, 2016 at 2:09 PM, Carlos Torres <notifications@github.com>
wrote:

--
Joe Talerico
Mobile : 919 760 3476

[2016-03-10 21:45] kevinchze opened #879 "Run Benchmarks Without Cloud Provisioning"
I'm trying to benchmark the connection between different cloud providers and a local server but don't have sudo access and was wondering when is this limitation planned to be removed or if there's  currently anyway way to go around it?

[2016-03-10 22:06] voellm commented on #879
The "sudo" requirement comes from the need to install software.  If you have all the needed packages you can always run with "--install_packages=false" and then things wont require sudo access.

flags.DEFINE_bool('install_packages', None,
                  'Override for determining whether packages should be '
                  'installed. If this is false, no packages will be installed '

[2016-03-10 22:14] kevinchze commented on #879
Hi @voellm ,

Thanks for the quick response! I'm running iperf to find out the network performance between the local server and the different Clouds.

I can get the packages installed from my admin's part, but as I understand, I could run the whole thing using the following command:

./pkb.py --benchmarks=iperf --benchmark_config_file=iperf.yaml --install_packages=false

Would you be able to advis

[2016-03-10 22:24] skschneider commented on #860
I've merged #878 into master. Please let us know if this solves your issue.

[2016-03-11 00:15] voellm commented on #879
Even easier...

Create a file called myserver.json like below - you need one entry per
machine needed for the benchmark otherwise the benchmark will pull
remaining machine from the default Cloud provider or whatever you specify
with --cloud=<...>.  iperf, netperf need 2 machines so I have two entries
below.

[
 {"ip_address": "173.203.60.1",
  "user_name": "USER1",
  "keyfile_path": "/tmp/static_r

[2016-03-11 00:50] kevinchze commented on #879
Great! Everything seems to run fine until I get the error regarding running iperf on the local VM (getting "Got non-zero return code (1) executing pgrep -n iperf") which I assume is due to the fact iperf is not installed.

Can I ask again which version of iperf is used on Perfkit? Am I correct to assume it's iperf2 since it's using bidirectional testing (and since the BSD Link link at source direc

[2016-03-11 01:47] voellm commented on #879
iperf2

Do you have a more specific error?
On Mar 10, 2016 4:50 PM, "kevinchze" <notifications@github.com> wrote:

[2016-03-11 02:24] kevinchze commented on #879
Thanks.

This is the error I get:

2016-03-11 01:47:04,259 f4129cce MainThread iperf(1/1) ERROR    Error during benchmark iperf
Traceback (most recent call last):
  File "/pathto/Project/PerfKitBenchmarker-1.2.0/perfkitbenchmarker/pkb.py", line 375, in RunBenchmark
    DoPreparePhase(benchmark, benchmark_name, spec, detailed_timer)
  File "/pathto/Project/PerfKitBenchmarker-1.2.0/perfkitbenchmarke

[2016-03-11 02:25] yuyantingzero opened #880 "Add VPN resource and implement VPN benchmark"
This requires
1) refactoring network resources to allow multiple networks within same benchmark
2) allow customized cidr block
3) implementing vpn resources for GCP, AWS, ...
4) Implementing a vpn benchmark

[2016-03-11 15:19] voellm commented on #879
Are they in your default path?  Meaning does the account PKB logs into have
them?

Can you try a "where iperf" and the "pgrep -n iperf" and share the result?

Thanks.

[2016-03-12 03:08] voellm opened #881 "Look into memslap as a memcache microbenchmark"
http://docs.libmemcached.org/bin/memaslap.html

[2016-03-14 17:33] voellm commented on #854
Ready for review and to complete the integration?

[2016-03-14 17:35] meteorfox commented on #854
Yes, PR #862 which addresses this issue is ready for review.

[2016-03-14 17:43] skschneider commented on #787
With #810 and #816, config options for all benchmarks are checked prior to provisioning resources for any. Closing this issue.

[2016-03-14 17:43] #787 closed

[2016-03-15 17:33] voellm opened #883 "Should we add and openssl encryption benchmarks?"
ex: openssl speed rsa -multi 2

More details on openssl benchmarking here - https://www.madboa.com/geek/openssl/

[2016-03-15 17:34] voellm commented on #883
Also related .... compression library .... https://github.com/google/snappy

[2016-03-15 17:38] voellm opened #884 "RPC benchmark"
There has been an ask to have a "somewhat" realistic benchmarks around RPCs.  Opening this issue to track the ask.

[2016-03-15 17:40] stfeng opened #885 "consider using raw measurement types in all applicable PKB-YCSB benchmarks"
YCSB has a number of "measurement" classes, all of them are only capable of reporting latency at granularity of 1ms except for the RAW measurement class which reports latency in microseconds.

For a number of NoSQL benchmarks in PKB, p50 latency frequently falls below 1ms, it's not acceptable to report those numbers in 1ms granularity, e.g., local SSD based workloads, Aerospike workloads, etc. We

[2016-03-15 17:41] stfeng commented on #865
We can do this in steps: 1) upgrade YCSB to 0.7 but keep using the old histogram so parsing code in PKB stays the same, 2) change parsing code and use HDR histogram by default.

After upgrading the YCSB version to 0.7, there are two follow-up issues we need to address too:

1) issue #872: use CQL YCSB binding for cassandra
2) issue #885: consider using raw measurement types in all applicable PKB-Y

[2016-03-15 17:42] stfeng commented on #872
This will be taken care of in #865. We will keep this issue open though until we complete the work. Thanks for the suggestion!

[2016-03-15 17:43] yuyantingzero commented on #78
I had a pull request(https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/195) awhile ago and decided to leave it as it is after talking to @voellm .
I will close the issue for now. If things have been changed, please reopen the issue and I will merge my PR.

[2016-03-15 17:43] #78 closed

[2016-03-15 18:53] kamsz commented on #872
@stfeng I've already got cassandra2-cql binding with YCSB 0.7.0 working, but I'm experiencing issues with operation timeouts.

[code]

Here's my fork: https://github.com/kamsz/PerfKitBenchmarker/tree/cassandra_ycsb

[2016-03-15 20:02] skschneider opened #886 "cluster_boot benchmark does not report total cluster boot time"
Currently, the cluster_boot_benchmark reports the boot time of each VM. There should be a sample that reports total cluster boot time, but the current design for how VMs are provisioned prevents this from being measured accurately. Most importantly, all VM provisioning start times would need to be synchronized.

See #824 for previous discussion.

[2016-03-15 20:35] meteorfox commented on #886
I don't know if this merits its own issue but I would also like to see a breakdown of steps during the boot time but still generic to apply to all providers.

I'm thinking something like:
- time it took to VM become active or running
- time it took to SSH into VM (this should give us a good approximation of how long the image takes to boot and the network is ready)

and while we are at it, maybe i

[2016-03-15 22:02] mlpesant opened #887 "cf_atomic.h is not compatible with POWERPC"
I am working on porting aerospike to POWERPC and fcf_atomic.h has embedded x86 assembly.  I took a stab at adding PPC64 #ifs and now this object compiles (the changed files, which belong to the directory ~/aerospike-client-c/aerospike-client-c/modules/common/target/Linux-ppc64le/include/citrusleaf/ are attached) but I don't know how to get pkb to use my sandbox copies of these files instead of pul

[2016-03-15 22:27] ehankland commented on #887
There is no existing way to tell PKB to use local copies of files rather than the ones it pulls from github. You could either try to get your changes added to the aerospike repository and then update the benchmark in PKB to pull down the new version or you could create a patch file and apply it after downloading the files but before building. There's another version of this benchmark (aerospike_yc

[2016-03-16 21:47] hildrum commented on #886
If we re-work the benchmark to provide this, I think it would be great to add delete.

[2016-03-16 22:07] hildrum opened #890 "hbase_ycsb benchmark declares success even when it fails."
I got a series of `org.apache.hadoop.hbase.PleaseHoldException: Master is initializing` and so there was throughput of zero.  However, the benchmark said it `SUCCEEDED`.

[2016-03-16 22:09] hildrum opened #891 "cloud_bigtable_ycsb failure"
I'm having trouble running cloud_bigtable_ycsb.

I got: `com.yahoo.ycsb.DBException: java.io.IOException: Failed to getTableDescriptor()`

[2016-03-17 03:07] cmccoy commented on #891
Do you have anything else in the traceback?

[2016-03-17 21:02] skschneider opened #892 "Resource improvements"
Tossing down some suggestions for improving how resources are handled - things that I think would be nice to have. Discussion encouraged. May be spun off into actual work items later.

1. Benchmarks can specify the type and count of resources that they need. This is similar to how benchmarks currently have a vm_groups configuration option. Instead of a VM group, it's a resource group, which can sp

[2016-03-17 22:28] noahl commented on #892
Two thoughts: first, I love all of these ideas.

Second, @ehankland and I were talking a week or two ago about needing a "service" abstraction to implement things like the MySQL benchmark properly. I think these changes fit in well with letting services be top-level abstractions, especially the dependency model.

[2016-03-18 19:57] skschneider opened #896 "Add support for cpu2006-1.2.iso in the speccpu2006 benchmark."
Similar to how the specsfs2014 benchmark allows using SPECsfs2014_SP1.iso.

[2016-03-18 20:20] hildrum commented on #892
One resource I've been wanting to add is a "hadoop cluster" resource.   With that, a user could specify an EMR/HDInsights/Dataproc cluster rather than a set of VMs.

[2016-03-18 22:47] noahl commented on #836
This is fixed by #895.

[2016-03-18 22:47] #836 closed

[2016-03-21 14:12] voellm opened #898 "Add Windows boot to the integration tests "test this please""
Opening and issue to track getting the autobuilder to run a Windows integration test as part of the run.

[2016-03-21 14:22] kamsz opened #899 "Unable to use run stages with OpenStack"
While trying to run PKB with --run_uri, pickle is stuck in never ending loop and fails with:

[code]

After some digging, I've found out that the issue is with __getattribute__ method stuck in never ending loop in perfkitbenchmarker/providers/openstack/utils.py:
[code]

[2016-03-21 14:36] voellm commented on #899
@kamsz - Can you please add the command you ran?

@ehankland - Eric can you take a look at the pickling?

[2016-03-21 14:38] voellm commented on #892
The resource refactor I'm looking for is object storage.  I have and issue to refactor the object_storage_service benchmark and a big part of that is the resource refactor.

[2016-03-21 14:42] kamsz commented on #899
@voellm The command used:
[code]

After provision succeed:

[code]

[2016-03-21 14:45] meteorfox commented on #899
@voellm @kamsz I'll try to replicate on my OpenStack Kilo deployment

[2016-03-21 14:58] meteorfox commented on #899
Confirmed. I'll try to debug it.

[2016-03-21 15:42] meteorfox opened #900 "tox breaks when the environment variable PYTHONPATH is not set (e.g. virtualenv)"
The recent `scripttests` command added to tox breaks when `PYTHONPATH`env variable is not set. Usually, by default in virtualenvs `PYTHONPATH` is not set, this causes the `setenv` command to raise an error.

[code]

[2016-03-21 15:45] meteorfox commented on #900
Easy fix:

[code]

[2016-03-21 17:47] meteorfox commented on #899
@ehankland So the issue is that `NovaClient` defers the access to dynamically fetch the attribute from its client attribute. I tried removing the `__getattribute__` approach and instead have them use the direct reference to the client object but that client object also has some dynamic attribute definition which causes the pickler to loop indefinitely again.

I'm not too familiar with the pickler

[2016-03-21 18:01] meteorfox opened #902 "rackspace: Undefined flags AttributeError"
Using PKB with the Rackspace provider throws the following error:
[code]

[2016-03-21 18:46] meteorfox commented on #533
Closing #844 fixed this.

[2016-03-21 18:46] #533 closed

[2016-03-21 18:47] #302 closed

[2016-03-21 18:47] #420 closed

[2016-03-21 18:54] meteorfox commented on #855
Closing since #861 has been merged and PR has been confirmed to address this issue.

Feel free to re-open if the issue is still present.

[2016-03-21 18:54] #855 closed

[2016-03-21 18:56] meteorfox commented on #854
Closing since #862 has already been merged and has been confirmed to address this issue.

Please feel free to re-open if the issue is still present.

[2016-03-21 18:56] #854 closed

[2016-03-21 18:56] meteorfox commented on #856
Closing since #870 has already been merged and has been confirmed to address this issue.

Please feel free to re-open if the issue is still present.

[2016-03-21 18:56] #856 closed

[2016-03-21 20:55] ehankland commented on #899
We definitely need to pickle the resources since they hold information necessary for later run stages.

If you still have the branch where you attempted removing __getattribute__ would you mind trying to replace pickle with dill in benchmark_spec.py? Dill can handle a bunch of types that pickle can't, so it might be able to handle the client object. If that works, we may just want to replace pickl

[2016-03-21 21:24] noahl commented on #902
@meteorfox is this fixed?

[2016-03-21 21:31] meteorfox commented on #902
Yes, that was the PR you just reviewed. :)

[2016-03-21 21:31] #902 closed

[2016-03-21 22:25] hildrum commented on #847
External contributions:
* Add RHEL based virtual machines to OpenStack provider. (thanks @akrzos;
  GH-858)
* Change rackspace provider information to use official CLI (thanks @meteorfox; GH-844)
* Add rackspace requirements (thanks @meteorfox; GH-805)

New features:
* Support flags in YAML format. (GH-857)
* Check version of required packages at runtime (GH-834)
* User-specified multiregion for G

[2016-03-21 22:25] #847 closed

[2016-03-22 05:27] voellm commented on #603
Done

[2016-03-22 05:27] #603 closed

[2016-03-22 05:28] voellm commented on #436
The last thing left for this CPU is background disk activity.

[2016-03-22 05:29] voellm commented on #216
Skyler - here is one of the features I'll assign to you.

[2016-03-22 05:30] voellm commented on #865
Done in pull request ... https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/pull/897

[2016-03-22 18:23] hildrum commented on #436
Memory, too, I think, unless that's been dropped off the desired list?

[2016-03-22 21:16] skschneider opened #907 "CheckPrerequisites does not have access to the BenchmarkSpec or benchmark-specific flag values"
CheckPrerequisites was originally designed when we just had Prepare, Run, and Cleanup stages. At that time, the BenchmarkSpec constructor provisioned resources, so it wasn't created until the Prepare stage.

If there's no problem with it, I think the construction of BenchmarkSpec and its corresponding redirection of the global flags to benchmark-specific flags can be moved above the call to CheckP

[2016-03-22 22:45] meteorfox commented on #899
Alright, here's the diff with the changes to use dill:

[code]
I changed `logging.error` to `logging.exception` so that it also shows the traceback of the exception along with the error message.

Dill did not work for this case either.

[code]

[2016-03-22 22:54] ehankland commented on #899
Ok - thanks for testing that out... I guess it's down to dropping the client object when pickling then recreating it when loading. Let me know if you run into any problems or if you'd like help with anything.

[2016-03-22 23:25] meteorfox commented on #899
Sure no problem. I'm trying the `__getstate__` and `__setstate__` approach right now.

Maybe in the future with the resource refactor that is being discussed, we could use some other format (i.e. json) to represent the state between stages. Perhaps with that way is also easier to distribute across many workers.

[2016-03-23 00:43] meteorfox commented on #899
Even with the `__getstate__` and `__setstate__` methods for every resouce is still doing it.

Hmm... I'm really thinking about to just bite the bullet and re-implement the provider using the CLI-based approach instead of the library approach. Several issues have been opened which would have been avoided if we just implemented the provider using the OpenStack CLI.  Just to name a few this issue, th

[2016-03-23 17:32] ehankland commented on #899
Hmm... implementing \_\_getstate\_\_ and \_\_setstate\_\_ just for the NovaClient class *should* work if you get rid of the \_\_getattribute\_\_ method and drop the attributes that were causing the error in \_\_getstate\_\_ from the object's \_\_dict\_\_. I can try putting together a PR, but I can't test it since I don't have an OpenStack setup.

It sounds like switching to the CLI would fix a few

[2016-03-23 17:45] ehankland commented on #899
Also re: the hacky embedded imports - they shouldn't be necessary anymore since only the provider modules that get used are loaded

[2016-03-23 17:52] meteorfox commented on #899
@ehankland I have a branch where I'm working on the port to the CLI approach.
https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/compare/master...meteorfox:openstack-cli-provider

[2016-03-23 18:09] ehankland opened #908 "run_stage should take a list of values"
If it took a list, users would be able to specify something like `--run_stage=provision,prepare` or
 `--run_stage=provision,prepare,run` and only invoke PKB once rather than running PKB two or three times.

[2016-03-23 18:56] voellm commented on #908
+1 I've hit this and yes it would be helpful.

[2016-03-23 18:57] ehankland commented on #899
@meteorfox Could you try out the above PR? I was able to pickle/unpickle a NovaClient instance inside a python shell, but I couldn't actually run PKB without an OpenStack setup.

[2016-03-23 19:12] meteorfox commented on #899
@ehankland Sure. I'll test it now. Thanks!

[2016-03-25 16:31] mlpesant opened #911 "Redis benchmark doesn't compile on POWERpc"
I'm trying to run the redis test with the command

` ./pkb.py --static_vm_file=tul121p1.json --benchmarks=redis --os_type=ubuntu_container --image=ubuntu_ssh --redis_clients=4`

and I get the error below

[code]

I tried downloading the latest stable version of redis (3.0) and it compiled without complaints.   Is there a reason PerfKitBenchmarker download an old version of redis instead of `wget h

[2016-03-25 16:35] voellm commented on #911
Thanks for both trying this and root causing  the problem.

We are happy to update to the latest Redis.  Are you able to put together a pull request?

[2016-03-25 16:37] mlpesant commented on #911
On it!

[2016-03-25 17:03] voellm commented on #436
Yes memory on the list.

[2016-03-25 20:11] stfeng opened #914 "Release v1.4.0"
We're starting the process for release 1.4. The cutoff date will be end of day Thursday 3/31.

[2016-03-28 17:24] skschneider opened #915 "BaseOsMixin.PullFile doc confusing"

[2016-03-28 18:06] skschneider opened #916 "Pressing Ctrl+C doesn't stop resource provisioning or wait for it to complete"
For example, during the prepare stage, RunThreaded is used to launch parallel threads that create networks or VMs. If Ctrl+C is pressed, the main thread that is executing RunThreaded will jump out and get caught by the bare except (https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/blob/master/perfkitbenchmarker/pkb.py#L403), but the background threads will continue to provision resources w

[2016-03-28 18:07] #860 closed

[2016-03-29 15:16] Eldainorn opened #919 "Benchmarks keep on failing - problem with python scripts"
For the last few days I've been trying to get PerfkitBenchmarker working with Azure and AWS. I followed all the instructions that are provided here and on the official website. I have successfully installed everything needed, also got the accounts for Azure and AWS. The problem arises when I am trying to benchmark anything, i.e. while executing
 `./pkb.py --cloud=Azure --benchmark=iperf ...`

Ever